# This file uses the dom_rcl_linker.csv which has been prepared in the file CommentMS.ipynb file using the program IdentifyDomainType.py. Also the Organism info (seq_details_with_organism_info.csv) has been prepared in file NidhiQueryAnalysis.ipynb

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline
sns.set()

In [26]:
pd.set_option('display.max_rows',None)

In [ ]:
dom_rcl_linker=pd.read_csv('PINIRV4/dom_rcl_linker.csv')

In [10]:
dom_rcl_linker.head(2)

,id,domainID,Domain,RclID,RCL,RCL_startPosition,RCL_endPosition,DomainType,linkerID,Linker,LinkerType,Linker_startPosition,Linker_endPosition
0,1,IRD-1,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,RL-1,CPRNC,41,45,3,NaN,NaN,NaN,NaN,NaN
1,2,IRD-2,QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...,RL-1,CPRNC,40,44,3,NaN,NaN,NaN,NaN,NaN

In [12]:
dom_rcl_linker.id.count()

695

In [7]:
rcl_tp=pd.read_csv('PINIRV4/rcl_targetProtease.csv')

In [9]:
rcl_tp.head(2)

   id RclID    Rcl targetProtease  tpID
0   1  RL-1  CPRNC        Trypsin  TP-1
1   2  RL-2  CPLNC   Chymotrypsin  TP-2

In [13]:
rcl_tp.id.count()

63

In [14]:
# Adding Target Protease information to dom_rcl_linker

In [17]:
dom_rcl_linker_tp=pd.merge(dom_rcl_linker,rcl_tp,on='RclID',how='left')

In [21]:
dom_rcl_linker_tp.head()

,id_x,domainID,Domain,RclID,RCL,RCL_startPosition,RCL_endPosition,DomainType,linkerID,Linker,LinkerType,Linker_startPosition,Linker_endPosition,id_y,Rcl,targetProtease,tpID
0,1,IRD-1,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,RL-1,CPRNC,41,45,3,NaN,NaN,NaN,NaN,NaN,1,CPRNC,Trypsin,TP-1
1,2,IRD-2,QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...,RL-1,CPRNC,40,44,3,NaN,NaN,NaN,NaN,NaN,1,CPRNC,Trypsin,TP-1
2,3,IRD-3,QICTNCCAGKKGCMYFSNDGTFICEGESEYVSEVPVDNKPCPRNCD...,RL-1,CPRNC,40,44,3,NaN,NaN,NaN,NaN,NaN,1,CPRNC,Trypsin,TP-1
3,4,IRD-4,VGCTNCCSGTEGCNYYSANGTFICEGQTKKTIDETNKACPRNCNPR...,RL-1,CPRNC,38,42,3,NaN,NaN,NaN,NaN,NaN,1,CPRNC,Trypsin,TP-1
4,5,IRD-5,LGCTNCCAGSLGCNYYSANGTFICEGESEIKVETIETEVETMVEPN...,RL-1,CPRNC,48,52,3,NaN,NaN,NaN,NaN,NaN,1,CPRNC,Trypsin,TP-1

In [31]:
dom_rcl_linker_tp=dom_rcl_linker_tp[['id_x', 'domainID', 'Domain','DomainType', 'RclID', 'RCL', 'RCL_startPosition',
       'RCL_endPosition', 'linkerID', 'Linker', 'LinkerType',
       'Linker_startPosition', 'Linker_endPosition','tpID','targetProtease' ]]

In [34]:
dom_rcl_linker_tp.tpID.value_counts()

TP-1    396
TP-2    177
TP-4    110
TP-3     12
Name: tpID, dtype: int64

In [35]:
dom_rcl_linker_tp.rename(columns={'id_x':'id'},inplace=True)

In [43]:
#dom_rcl_linker_tp.to_csv('PINIRV4/dom_rcl_linker_tp.csv',index=False)# Making a new file with Domain,RCL,Linker,TP info

In [42]:
dom_rcl_linker_tp.head()

,id,domainID,Domain,DomainType,RclID,RCL,RCL_startPosition,RCL_endPosition,linkerID,Linker,LinkerType,Linker_startPosition,Linker_endPosition,tpID,targetProtease
0,1,IRD-1,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,3,RL-1,CPRNC,41,45,NaN,NaN,NaN,NaN,NaN,TP-1,Trypsin
1,2,IRD-2,QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...,3,RL-1,CPRNC,40,44,NaN,NaN,NaN,NaN,NaN,TP-1,Trypsin
2,3,IRD-3,QICTNCCAGKKGCMYFSNDGTFICEGESEYVSEVPVDNKPCPRNCD...,3,RL-1,CPRNC,40,44,NaN,NaN,NaN,NaN,NaN,TP-1,Trypsin
3,4,IRD-4,VGCTNCCSGTEGCNYYSANGTFICEGQTKKTIDETNKACPRNCNPR...,3,RL-1,CPRNC,38,42,NaN,NaN,NaN,NaN,NaN,TP-1,Trypsin
4,5,IRD-5,LGCTNCCAGSLGCNYYSANGTFICEGESEIKVETIETEVETMVEPN...,3,RL-1,CPRNC,48,52,NaN,NaN,NaN,NaN,NaN,TP-1,Trypsin

In [56]:
seq_dom_rcl_tp=pd.read_csv('PINIRV4/Sequence_Domain_RCL_TargetProtease_Data.csv')

In [57]:
seq_dom_rcl_tp.head()

,id,FastaSeqID,Fasta,fastaLength,DomainID,domain,startDPosition,endDPosition,RclID,Rcl,startRPosition,endRPosition,RclStartPosition,RclEndPosition,tpID,TargetProtease
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,IRD-1,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,51,108,RL-1,CPRNC,41,45,91,95,TP-1,Trypsin
1,132,E9JGT0,MAIYKVALLLLFGMIVLGSNADGKPCTRECDTRIAYGICPLSETKR...,155,IRD-3,QICTNCCAGKKGCMYFSNDGTFICEGESEYVSEVPVDNKPCPRNCD...,48,104,RL-1,CPRNC,40,44,87,91,TP-1,Trypsin
2,34,Q7M222,MAFNKVALLILFAIFAGTVLLLSEVDAANACPRNCNPSIQYGRCPK...,146,IRD-4,VGCTNCCSGTEGCNYYSANGTFICEGQTKKTIDETNKACPRNCNPR...,53,107,RL-1,CPRNC,38,42,90,94,TP-1,Trypsin
3,79,A0A1S4BIG0,MAVHKAGFLSLLLLFGIFLLLSELEYADAKACTRNCNPRIRYGRCP...,168,IRD-5,LGCTNCCAGSLGCNYYSANGTFICEGESEIKVETIETEVETMVEPN...,54,113,RL-1,CPRNC,48,52,101,105,TP-1,Trypsin
4,75,A0A1S3Z2Q3,MAVHKVGFLSLLLLFGTFLLLSEVDYADAKACTRNCNPRIRYGRCP...,294,IRD-6,VGCTNCCAAKKGCNYFSANGTFVCEGETETKVETIETEVETMVELN...,132,191,RL-5,CPFNC,48,52,179,183,TP-2,Chymotrypsin

In [58]:
seq_dom_rcl_tp.id.count()

1289

In [59]:
dom_rcl_linker_tp.id.count()

695

In [61]:
dom_rcl_linker_tp.columns

Index(['id', 'domainID', 'Domain', 'DomainType', 'RclID', 'RCL',
       'RCL_startPosition', 'RCL_endPosition', 'linkerID', 'Linker',
       'LinkerType', 'Linker_startPosition', 'Linker_endPosition', 'tpID',
       'targetProtease'],
      dtype='object')

# Adding dom->Linker information from dom_rcl_linker_tp to seq_dom_rcl_tp

In [65]:
dom_linker=dom_rcl_linker_tp[['domainID','Domain', 'DomainType','linkerID', 'Linker',
       'Linker_startPosition', 'Linker_endPosition']]

In [66]:
dom_linker.head()

,domainID,Domain,DomainType,linkerID,Linker,Linker_startPosition,Linker_endPosition
0,IRD-1,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,3,NaN,NaN,NaN,NaN
1,IRD-2,QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...,3,NaN,NaN,NaN,NaN
2,IRD-3,QICTNCCAGKKGCMYFSNDGTFICEGESEYVSEVPVDNKPCPRNCD...,3,NaN,NaN,NaN,NaN
3,IRD-4,VGCTNCCSGTEGCNYYSANGTFICEGQTKKTIDETNKACPRNCNPR...,3,NaN,NaN,NaN,NaN
4,IRD-5,LGCTNCCAGSLGCNYYSANGTFICEGESEIKVETIETEVETMVEPN...,3,NaN,NaN,NaN,NaN

In [68]:
dom_linker.rename(columns={'domainID':'DomainID'},inplace=True)

In [69]:
dom_linker.head()

,DomainID,Domain,DomainType,linkerID,Linker,Linker_startPosition,Linker_endPosition
0,IRD-1,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,3,NaN,NaN,NaN,NaN
1,IRD-2,QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...,3,NaN,NaN,NaN,NaN
2,IRD-3,QICTNCCAGKKGCMYFSNDGTFICEGESEYVSEVPVDNKPCPRNCD...,3,NaN,NaN,NaN,NaN
3,IRD-4,VGCTNCCSGTEGCNYYSANGTFICEGQTKKTIDETNKACPRNCNPR...,3,NaN,NaN,NaN,NaN
4,IRD-5,LGCTNCCAGSLGCNYYSANGTFICEGESEIKVETIETEVETMVEPN...,3,NaN,NaN,NaN,NaN

In [73]:
seq_dom_rcl_linker_tp=pd.merge(seq_dom_rcl_tp,dom_linker,on='DomainID',how='left')

In [74]:
seq_dom_rcl_linker_tp.loc[seq_dom_rcl_linker_tp.domain!=seq_dom_rcl_linker_tp.Domain,:]

Empty DataFrame
Columns: [id, FastaSeqID, Fasta, fastaLength, DomainID, domain, startDPosition, endDPosition, RclID, Rcl, startRPosition, endRPosition, RclStartPosition, RclEndPosition, tpID, TargetProtease, Domain, DomainType, linkerID, Linker, Linker_startPosition, Linker_endPosition]
Index: []

[0 rows x 22 columns]

In [162]:
seq_dom_rcl_linker_tp.count()

id                             1289
FastaID                        1289
Fasta                          1289
fastaLength                    1289
DomainID                       1289
DomainType                     1289
domain                         1289
startDPosition                 1289
endDPosition                   1289
RclID                          1289
Rcl                            1289
startRPosition                 1289
endRPosition                   1289
RclStartPosition               1289
RclEndPosition                 1289
linkerID                       1013
Linker                         1013
LinkerStartPositionInDomain    1013
LinkerEndPositionInDomain      1013
tpID                           1289
TargetProtease                 1289
dtype: int64

In [168]:
seq_dom_rcl_linker_tp[['DomainID','DomainType']].drop_duplicates().DomainType.value_counts()
# The file dom_rcl_linker_tp.csv had 695 records with Type 3 Domain Type as 201 whereas here it is 200 i.e. means
# one Domain Type 3 (without Linker) was not found in sequences

2    256
1    238
3    200
Name: DomainType, dtype: int64

In [76]:
seq_dom_rcl_linker_tp.columns

Index(['id', 'FastaSeqID', 'Fasta', 'fastaLength', 'DomainID', 'domain',
       'startDPosition', 'endDPosition', 'RclID', 'Rcl', 'startRPosition',
       'endRPosition', 'RclStartPosition', 'RclEndPosition', 'tpID',
       'TargetProtease', 'Domain', 'DomainType', 'linkerID', 'Linker',
       'Linker_startPosition', 'Linker_endPosition'],
      dtype='object')

In [77]:
seq_dom_rcl_linker_tp=seq_dom_rcl_linker_tp[['id', 'FastaSeqID', 'Fasta', 'fastaLength', 'DomainID','DomainType','domain',
       'startDPosition', 'endDPosition', 'RclID', 'Rcl', 'startRPosition',
       'endRPosition', 'RclStartPosition', 'RclEndPosition','linkerID', 'Linker',
       'Linker_startPosition', 'Linker_endPosition','tpID','TargetProtease']]

In [78]:
seq_dom_rcl_linker_tp.head()

,id,FastaSeqID,Fasta,fastaLength,DomainID,DomainType,domain,startDPosition,endDPosition,RclID,...,startRPosition,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,Linker_startPosition,Linker_endPosition,tpID,TargetProtease
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,IRD-1,3,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,51,108,RL-1,...,41,45,91,95,NaN,NaN,NaN,NaN,TP-1,Trypsin
1,132,E9JGT0,MAIYKVALLLLFGMIVLGSNADGKPCTRECDTRIAYGICPLSETKR...,155,IRD-3,3,QICTNCCAGKKGCMYFSNDGTFICEGESEYVSEVPVDNKPCPRNCD...,48,104,RL-1,...,40,44,87,91,NaN,NaN,NaN,NaN,TP-1,Trypsin
2,34,Q7M222,MAFNKVALLILFAIFAGTVLLLSEVDAANACPRNCNPSIQYGRCPK...,146,IRD-4,3,VGCTNCCSGTEGCNYYSANGTFICEGQTKKTIDETNKACPRNCNPR...,53,107,RL-1,...,38,42,90,94,NaN,NaN,NaN,NaN,TP-1,Trypsin
3,79,A0A1S4BIG0,MAVHKAGFLSLLLLFGIFLLLSELEYADAKACTRNCNPRIRYGRCP...,168,IRD-5,3,LGCTNCCAGSLGCNYYSANGTFICEGESEIKVETIETEVETMVEPN...,54,113,RL-1,...,48,52,101,105,NaN,NaN,NaN,NaN,TP-1,Trypsin
4,75,A0A1S3Z2Q3,MAVHKVGFLSLLLLFGTFLLLSEVDYADAKACTRNCNPRIRYGRCP...,294,IRD-6,3,VGCTNCCAAKKGCNYFSANGTFVCEGETETKVETIETEVETMVELN...,132,191,RL-5,...,48,52,179,183,NaN,NaN,NaN,NaN,TP-2,Chymotrypsin

In [79]:
seq_dom_rcl_linker_tp.rename(columns={'Linker_startPosition':'LinkerStartPositionInDomain','Linker_endPosition':'LinkerEndPositionInDomain'},inplace=True)

In [80]:
seq_dom_rcl_linker_tp.head(1)

,id,FastaSeqID,Fasta,fastaLength,DomainID,DomainType,domain,startDPosition,endDPosition,RclID,...,startRPosition,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,IRD-1,3,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,51,108,RL-1,...,41,45,91,95,NaN,NaN,NaN,NaN,TP-1,Trypsin

In [94]:
#seq_dom_rcl_linker_tp.to_csv('PINIRV4/seq_dom_rcl_linker_tp.csv',index=False)## Creating a file with Seq->Dom->RCL->Linker->TP info

# Adding Seq->Organism info from seq_details_with_organism_info.csv to seq_dom_rcl_linker_tp

In [4]:
seq_with_org_info=pd.read_csv('PINIRV4/seq_details_with_organism_info.csv')#Reading the file with data about  relation with seq and Organism

In [5]:
seq_with_org_info.head()

,FastaID,DomainID,RclID,Rcl,tpID,TargetProtease,OrganismID,Organism,Length,Mass
0,A0A022Q5A4,IRD-300,RL-27,CPLYC,TP-2,Chymotrypsin,4155,Erythranthe guttata (Yellow monkey flower) (Mi...,66,7094
1,A0A023UDB8,IRD-467,RL-9,CTLEC,TP-2,Chymotrypsin,4113,Solanum tuberosum (Potato),154,16657
2,A0A023UDB8,IRD-240,RL-1,CPRNC,TP-1,Trypsin,4113,Solanum tuberosum (Potato),154,16657
3,A0A023UDB8,IRD-237,RL-1,CPRNC,TP-1,Trypsin,4113,Solanum tuberosum (Potato),154,16657
4,A0A023UDB8,IRD-489,RL-1,CPRNC,TP-1,Trypsin,4113,Solanum tuberosum (Potato),154,16657

In [6]:
seq_org_details=seq_with_org_info[['FastaID','OrganismID','Organism','Length','Mass']].drop_duplicates()

In [7]:
seq_org_details.head()

,FastaID,OrganismID,Organism,Length,Mass
0,A0A022Q5A4,4155,Erythranthe guttata (Yellow monkey flower) (Mi...,66,7094
1,A0A023UDB8,4113,Solanum tuberosum (Potato),154,16657
5,A0A059BUH3,71139,Eucalyptus grandis (Flooded gum),80,8212
6,A0A059PYZ4,131158,Saccharum hybrid cultivar R570,83,9123
7,A0A059Q2U6,131158,Saccharum hybrid cultivar R570,66,7077

In [8]:
seq_dom_rcl_linker_tp=pd.read_csv('PINIRV4/seq_dom_rcl_linker_tp.csv')

In [9]:
seq_dom_rcl_linker_tp.sort_values(by='FastaSeqID').head()

,id,FastaSeqID,Fasta,fastaLength,DomainID,DomainType,domain,startDPosition,endDPosition,RclID,...,startRPosition,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease
997,286,A0A022Q5A4,ILLVLESNAQYASAKVCPLYCIINQGIYMTCPSSGSQKLEPVCNCC...,66,IRD-300,3,KVCPLYCIINQGIYMTCPSSGSQKLEPVCNCCLAKTGCKLYRDNGT...,14,64,RL-27,...,2,6,15,19,NaN,NaN,NaN,NaN,TP-2,Chymotrypsin
1101,195,A0A023UDB8,MAVHKEVNFVAYLLIVLGLLVLVSAMEHVDAKACTLECGNLGFGIC...,154,IRD-467,2,KACTLECGNLGFGICPRSEGSPENRICTNCCAGYKGCNYYSANGAF...,31,80,RL-9,...,2,6,32,36,L-47,EGSPE,18.0,22.0,TP-2,Chymotrypsin
977,195,A0A023UDB8,MAVHKEVNFVAYLLIVLGLLVLVSAMEHVDAKACTLECGNLGFGIC...,154,IRD-240,1,RICTNCCAGYKGCNYYSANGAFICEGESDPKNPNVCPRNCDTNIAY...,55,105,RL-1,...,35,39,89,93,L-3,DPKNP,28.0,32.0,TP-1,Trypsin
975,195,A0A023UDB8,MAVHKEVNFVAYLLIVLGLLVLVSAMEHVDAKACTLECGNLGFGIC...,154,IRD-237,1,RICTNCCAGYKGCNYYSANGAFICEGESDPKNPNVCPRNCDTNIAY...,55,106,RL-1,...,35,39,89,93,L-3,DPKNP,28.0,32.0,TP-1,Trypsin
1114,195,A0A023UDB8,MAVHKEVNFVAYLLIVLGLLVLVSAMEHVDAKACTLECGNLGFGIC...,154,IRD-489,3,NVCPRNCDTNIAYSKCLRSEGKSLIYPTGCTTCCTGYKGCYYFGKN...,88,140,RL-1,...,2,6,89,93,NaN,NaN,NaN,NaN,TP-1,Trypsin

In [10]:
seq_dom_rcl_linker_tp.rename(columns={'FastaSeqID':'FastaID'},inplace=True)

In [11]:
seq_dom_rcl_linker_tp.sort_values(by='FastaID').head(2)

,id,FastaID,Fasta,fastaLength,DomainID,DomainType,domain,startDPosition,endDPosition,RclID,...,startRPosition,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease
997,286,A0A022Q5A4,ILLVLESNAQYASAKVCPLYCIINQGIYMTCPSSGSQKLEPVCNCC...,66,IRD-300,3,KVCPLYCIINQGIYMTCPSSGSQKLEPVCNCCLAKTGCKLYRDNGT...,14,64,RL-27,...,2,6,15,19,NaN,NaN,NaN,NaN,TP-2,Chymotrypsin
1101,195,A0A023UDB8,MAVHKEVNFVAYLLIVLGLLVLVSAMEHVDAKACTLECGNLGFGIC...,154,IRD-467,2,KACTLECGNLGFGICPRSEGSPENRICTNCCAGYKGCNYYSANGAF...,31,80,RL-9,...,2,6,32,36,L-47,EGSPE,18.0,22.0,TP-2,Chymotrypsin

In [12]:
seq_org_details.head(2)

,FastaID,OrganismID,Organism,Length,Mass
0,A0A022Q5A4,4155,Erythranthe guttata (Yellow monkey flower) (Mi...,66,7094
1,A0A023UDB8,4113,Solanum tuberosum (Potato),154,16657

In [13]:
seq_org_dom_rcl_linker_tp=pd.merge(seq_dom_rcl_linker_tp,seq_org_details,on='FastaID',how='left')

In [14]:
seq_org_dom_rcl_linker_tp.head(1)

,id,FastaID,Fasta,fastaLength,DomainID,DomainType,domain,startDPosition,endDPosition,RclID,...,linkerID,Linker,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease,OrganismID,Organism,Length,Mass
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,IRD-1,3,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,51,108,RL-1,...,NaN,NaN,NaN,NaN,TP-1,Trypsin,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,360,39280

In [15]:
seq_org_dom_rcl_linker_tp.columns

Index(['id', 'FastaID', 'Fasta', 'fastaLength', 'DomainID', 'DomainType',
       'domain', 'startDPosition', 'endDPosition', 'RclID', 'Rcl',
       'startRPosition', 'endRPosition', 'RclStartPosition', 'RclEndPosition',
       'linkerID', 'Linker', 'LinkerStartPositionInDomain',
       'LinkerEndPositionInDomain', 'tpID', 'TargetProtease', 'OrganismID',
       'Organism', 'Length', 'Mass'],
      dtype='object')

In [16]:
seq_org_dom_rcl_linker_tp[['FastaID','fastaLength','OrganismID','Length','Mass']].sort_values(by='FastaID').head()

         FastaID  fastaLength  OrganismID  Length   Mass
997   A0A022Q5A4           66        4155      66   7094
1101  A0A023UDB8          154        4113     154  16657
977   A0A023UDB8          154        4113     154  16657
975   A0A023UDB8          154        4113     154  16657
1114  A0A023UDB8          154        4113     154  16657

In [17]:
seq_org_dom_rcl_linker_tp=seq_org_dom_rcl_linker_tp[['id', 'FastaID', 'Fasta', 'Length', 'Mass', 'OrganismID',
       'Organism', 'DomainID', 'DomainType','domain', 'startDPosition', 'endDPosition', 'RclID', 'Rcl',
       'startRPosition', 'endRPosition', 'RclStartPosition', 'RclEndPosition',
       'linkerID', 'Linker', 'LinkerStartPositionInDomain',
       'LinkerEndPositionInDomain', 'tpID', 'TargetProtease']]

In [18]:
seq_org_dom_rcl_linker_tp.head(1)

,id,FastaID,Fasta,Length,Mass,OrganismID,Organism,DomainID,DomainType,domain,...,startRPosition,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,39280,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-1,3,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,...,41,45,91,95,NaN,NaN,NaN,NaN,TP-1,Trypsin

In [19]:
#seq_org_dom_rcl_linker_tp.rename(columns={'FastaID':'UniprotID'},inplace=True)

In [20]:
#seq_org_dom_rcl_linker_tp.rename(columns={'Fasta':'Sequence'},inplace=True)

In [21]:
seq_org_dom_rcl_linker_tp.head(1)

,id,UniprotID,Sequence,Length,Mass,OrganismID,Organism,DomainID,DomainType,domain,...,startRPosition,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,39280,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-1,3,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,...,41,45,91,95,NaN,NaN,NaN,NaN,TP-1,Trypsin

In [22]:
## Adding Solanacae, NON Solanacae info

In [28]:
org1=pd.read_excel('PINIRV4//OrganismList.xlsx',usecols=['OrganismID','Solanaceae'])

In [29]:
org1.head(2)

   OrganismID  Solanaceae
0        3476           0
1        3562           0

In [30]:
org1.OrganismID.count()

94

In [41]:
org1.Solanaceae.value_counts()

0    61
1    33
Name: Solanaceae, dtype: int64

In [31]:
seq_org_dom_rcl_linker_tp.OrganismID.nunique()

92

In [40]:
pd.merge(seq_org_dom_rcl_linker_tp,org1,on='OrganismID',how='left')[['OrganismID','Solanaceae']].drop_duplicates().Solanaceae.value_counts()

0    60
1    32
Name: Solanaceae, dtype: int64

In [45]:
pd.merge(seq_org_dom_rcl_linker_tp,org1,on='OrganismID',how='left').head(1)

,id,UniprotID,Sequence,Length,Mass,OrganismID,Organism,DomainID,DomainType,domain,...,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease,Solanaceae
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,39280,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-1,3,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,...,45,91,95,NaN,NaN,NaN,NaN,TP-1,Trypsin,1

In [46]:
seq_org_dom_rcl_linker_tp=pd.merge(seq_org_dom_rcl_linker_tp,org1,on='OrganismID',how='left')

In [47]:
seq_org_dom_rcl_linker_tp.head(1)

,id,UniprotID,Sequence,Length,Mass,OrganismID,Organism,DomainID,DomainType,domain,...,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease,Solanaceae
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,39280,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-1,3,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,...,45,91,95,NaN,NaN,NaN,NaN,TP-1,Trypsin,1

In [48]:
seq_org_dom_rcl_linker_tp.columns

Index(['id', 'UniprotID', 'Sequence', 'Length', 'Mass', 'OrganismID',
       'Organism', 'DomainID', 'DomainType', 'domain', 'startDPosition',
       'endDPosition', 'RclID', 'Rcl', 'startRPosition', 'endRPosition',
       'RclStartPosition', 'RclEndPosition', 'linkerID', 'Linker',
       'LinkerStartPositionInDomain', 'LinkerEndPositionInDomain', 'tpID',
       'TargetProtease', 'Solanaceae'],
      dtype='object')

In [49]:
seq_org_dom_rcl_linker_tp=seq_org_dom_rcl_linker_tp[['id', 'UniprotID', 'Sequence', 'Length', 'Mass', 'OrganismID',
       'Organism', 'Solanaceae', 'DomainID', 'DomainType', 'domain', 'startDPosition',
       'endDPosition', 'RclID', 'Rcl', 'startRPosition', 'endRPosition',
       'RclStartPosition', 'RclEndPosition', 'linkerID', 'Linker',
       'LinkerStartPositionInDomain', 'LinkerEndPositionInDomain', 'tpID',
       'TargetProtease']]

In [51]:
seq_org_dom_rcl_linker_tp.head(1)

,id,UniprotID,Sequence,Length,Mass,OrganismID,Organism,Solanaceae,DomainID,DomainType,...,startRPosition,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,39280,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,IRD-1,3,...,41,45,91,95,NaN,NaN,NaN,NaN,TP-1,Trypsin

In [98]:
seq_org_dom_rcl_linker_tp.id.count()

1289

In [101]:
seq_org_dom_rcl_linker_tp.linkerID.nunique()

75

In [ ]:
## Adding Linker Type information

In [96]:
linker=pd.read_csv('PINIRV4/Linkers.csv')

In [97]:
linker.head()

   id linkerID linker  type
0   1      L-1  DPRNP     1
1   2      L-2  GPKNP     1
2   3      L-3  DPKNP     1
3   4      L-4  DPRNS     1
4   5      L-5  DPNNP     1

In [99]:
linker.id.count()

78

In [102]:
linker=linker[['linkerID','type']]

In [106]:
pd.merge(seq_org_dom_rcl_linker_tp,linker,on='linkerID',how='left').linkerID.nunique()

75

In [110]:
seq_org_dom_rcl_linker_tp=pd.merge(seq_org_dom_rcl_linker_tp,linker,on='linkerID',how='left')

In [112]:
seq_org_dom_rcl_linker_tp.head(2)

,id,UniprotID,Sequence,Length,Mass,OrganismID,Organism,Solanaceae,DomainID,DomainType,...,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease,type
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,39280,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,IRD-1,3,...,45,91,95,NaN,NaN,NaN,NaN,TP-1,Trypsin,NaN
1,132,E9JGT0,MAIYKVALLLLFGMIVLGSNADGKPCTRECDTRIAYGICPLSETKR...,155,16978,4112,Solanum nigrum (Black nightshade),1,IRD-3,3,...,44,87,91,NaN,NaN,NaN,NaN,TP-1,Trypsin,NaN

In [114]:
#seq_org_dom_rcl_linker_tp.rename(columns={'type':'LinkerType'},inplace=True)

In [120]:
seq_org_dom_rcl_linker_tp[['DomainID','DomainType','linkerID','LinkerType']].loc[~seq_org_dom_rcl_linker_tp.LinkerType.isna(),:].loc[seq_org_dom_rcl_linker_tp.DomainType!=seq_org_dom_rcl_linker_tp.LinkerType,:]

    DomainID  DomainType linkerID  LinkerType
16    IRD-19           1     L-58         2.0
433  IRD-454           2      L-1         1.0

In [121]:
## Cross Verifying it with dom_rcl_linker_tp.csv

In [122]:
dom_rcl_linker_tp=pd.read_csv('PINIRV4/dom_rcl_linker_tp.csv')

In [127]:
dom_rcl_linker_tp[['domainID','DomainType','linkerID','LinkerType']].loc[~dom_rcl_linker_tp.LinkerType.isna(),:].loc[dom_rcl_linker_tp.DomainType!=dom_rcl_linker_tp.LinkerType,:]

    domainID  DomainType linkerID  LinkerType
18    IRD-19           1     L-58         2.0
451  IRD-454           2      L-1         1.0

In [130]:
seq_org_dom_rcl_linker_tp.columns

Index(['id', 'UniprotID', 'Sequence', 'Length', 'Mass', 'OrganismID',
       'Organism', 'Solanaceae', 'DomainID', 'DomainType', 'domain',
       'startDPosition', 'endDPosition', 'RclID', 'Rcl', 'startRPosition',
       'endRPosition', 'RclStartPosition', 'RclEndPosition', 'linkerID',
       'Linker', 'LinkerStartPositionInDomain', 'LinkerEndPositionInDomain',
       'tpID', 'TargetProtease', 'LinkerType'],
      dtype='object')

In [131]:
seq_org_dom_rcl_linker_tp=seq_org_dom_rcl_linker_tp[['id', 'UniprotID', 'Sequence', 'Length', 'Mass', 'OrganismID',
       'Organism', 'Solanaceae', 'DomainID', 'DomainType', 'domain',
       'startDPosition', 'endDPosition', 'RclID', 'Rcl', 'startRPosition',
       'endRPosition', 'RclStartPosition', 'RclEndPosition', 'linkerID',
       'Linker', 'LinkerType', 'LinkerStartPositionInDomain', 'LinkerEndPositionInDomain',
       'tpID', 'TargetProtease']]

In [132]:
## Creating a file with complete relation between Sequence,Organism,Domain,RCL,Linker,TargetProtease

In [134]:
#seq_org_dom_rcl_linker_tp.to_csv('PINIRV4/Sequence_Organism_Domain_RCL_Linker_TargetProtease.csv',index=False)

In [128]:
## Adding the Genus information to seq_org_dom_rcl_linker_tp.csv

In [124]:
seq_org_dom_rcl_linker_tp=pd.read_csv('PINIRV4/Sequence_Organism_Domain_RCL_Linker_TargetProtease.csv')

In [129]:
seq_org_dom_rcl_linker_tp.columns

Index(['id', 'UniprotID', 'Sequence', 'Length', 'Mass', 'OrganismID',
       'Organism', 'Solanaceae', 'DomainID', 'DomainType', 'domain',
       'startDPosition', 'endDPosition', 'RclID', 'Rcl', 'startRPosition',
       'endRPosition', 'RclStartPosition', 'RclEndPosition', 'linkerID',
       'Linker', 'LinkerType', 'LinkerStartPositionInDomain',
       'LinkerEndPositionInDomain', 'tpID', 'TargetProtease'],
      dtype='object')

In [130]:
seq_org_dom_rcl_linker_tp[['id', 'UniprotID','OrganismID','Organism',]].head(1)

,id,UniprotID,OrganismID,Organism
0,163,K4D750,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...

In [131]:
seq_org_dom_rcl_linker_tp.id.count()

1289

In [136]:
#seq_org_dom_rcl_linker_tp['Genus']=seq_org_dom_rcl_linker_tp['Organism'].apply(lambda x:x.split()[0])## Ading Genus Col.

In [135]:
seq_org_dom_rcl_linker_tp[['id', 'UniprotID','OrganismID','Organism','Genus']].id.count()

1289

In [137]:
seq_org_dom_rcl_linker_tp.columns

Index(['id', 'UniprotID', 'Sequence', 'Length', 'Mass', 'OrganismID',
       'Organism', 'Solanaceae', 'DomainID', 'DomainType', 'domain',
       'startDPosition', 'endDPosition', 'RclID', 'Rcl', 'startRPosition',
       'endRPosition', 'RclStartPosition', 'RclEndPosition', 'linkerID',
       'Linker', 'LinkerType', 'LinkerStartPositionInDomain',
       'LinkerEndPositionInDomain', 'tpID', 'TargetProtease', 'Genus'],
      dtype='object')

In [138]:
seq_org_dom_rcl_linker_tp=seq_org_dom_rcl_linker_tp[['id', 'UniprotID', 'Sequence', 'Length', 'Mass', 'OrganismID',
       'Organism', 'Solanaceae', 'Genus', 'DomainID', 'DomainType', 'domain',
       'startDPosition', 'endDPosition', 'RclID', 'Rcl', 'startRPosition',
       'endRPosition', 'RclStartPosition', 'RclEndPosition', 'linkerID',
       'Linker', 'LinkerType', 'LinkerStartPositionInDomain',
       'LinkerEndPositionInDomain', 'tpID', 'TargetProtease']]

In [140]:
seq_org_dom_rcl_linker_tp.head(1)

,id,UniprotID,Sequence,Length,Mass,OrganismID,Organism,Solanaceae,Genus,DomainID,...,endRPosition,RclStartPosition,RclEndPosition,linkerID,Linker,LinkerType,LinkerStartPositionInDomain,LinkerEndPositionInDomain,tpID,TargetProtease
0,163,K4D750,MAIHKVALLLLLGIILLVSNVEHTNAKARTEQCDPRIAFGICPHLQ...,360,39280,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,Solanum,IRD-1,...,45,91,95,NaN,NaN,NaN,NaN,NaN,TP-1,Trypsin

In [ ]:
## Saving Sequence_Organism_Domain_RCL_Linker_TargetProtease.csv with Genus Information

In [142]:
## seq_org_dom_rcl_linker_tp.to_csv('PINIRV4/Sequence_Organism_Domain_RCL_Linker_TargetProtease.csv',index=False)

In [143]:
pinir=pd.read_csv('PINIRV4/Sequence_Organism_Domain_RCL_Linker_TargetProtease.csv')

In [144]:
pinir.info()
# These are records for 371 sequences. 
# A sequence can have multiple Domains
# Different sequences can belong to same Organism
# A Domain has one RCL and one Linker
# Different Domains may have same RCL Or Linker
# Each RCL has one TargetProtease

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289 entries, 0 to 1288
Data columns (total 27 columns):
id                             1289 non-null int64
UniprotID                      1289 non-null object
Sequence                       1289 non-null object
Length                         1289 non-null int64
Mass                           1289 non-null int64
OrganismID                     1289 non-null int64
Organism                       1289 non-null object
Solanaceae                     1289 non-null int64
Genus                          1289 non-null object
DomainID                       1289 non-null object
DomainType                     1289 non-null int64
domain                         1289 non-null object
startDPosition                 1289 non-null int64
endDPosition                   1289 non-null int64
RclID                          1289 non-null object
Rcl                            1289 non-null object
startRPosition                 1289 non-null int64
endRPosition                   1289 non-null int64
RclStartPosition               1289 non-null int64
RclEndPosition                 1289 non-null int64
linkerID                       1013 non-null object
Linker                         1013 non-null object
LinkerType                     1013 non-null float64
LinkerStartPositionInDomain    1013 non-null float64
LinkerEndPositionInDomain      1013 non-null float64
tpID                           1289 non-null object
TargetProtease                 1289 non-null object
dtypes: float64(3), int64(12), object(12)
memory usage: 211.5+ KB

In [145]:
pinir.columns

Index(['id', 'UniprotID', 'Sequence', 'Length', 'Mass', 'OrganismID',
       'Organism', 'Solanaceae', 'Genus', 'DomainID', 'DomainType', 'domain',
       'startDPosition', 'endDPosition', 'RclID', 'Rcl', 'startRPosition',
       'endRPosition', 'RclStartPosition', 'RclEndPosition', 'linkerID',
       'Linker', 'LinkerType', 'LinkerStartPositionInDomain',
       'LinkerEndPositionInDomain', 'tpID', 'TargetProtease'],
      dtype='object')

In [144]:
# Extracting the required fields, leaving the positional fields

In [146]:
pinir=pinir[['UniprotID', 'OrganismID',
       'Organism', 'Solanaceae','Genus','DomainID', 'DomainType', 'RclID', 'Rcl','linkerID', 'Linker','LinkerType',
       'tpID','TargetProtease']]

In [147]:
pinir.head()

,UniprotID,OrganismID,Organism,Solanaceae,Genus,DomainID,DomainType,RclID,Rcl,linkerID,Linker,LinkerType,tpID,TargetProtease
0,K4D750,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,Solanum,IRD-1,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
1,E9JGT0,4112,Solanum nigrum (Black nightshade),1,Solanum,IRD-3,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
2,Q7M222,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,Solanum,IRD-4,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
3,A0A1S4BIG0,4097,Nicotiana tabacum (Common tobacco),1,Nicotiana,IRD-5,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
4,A0A1S3Z2Q3,4097,Nicotiana tabacum (Common tobacco),1,Nicotiana,IRD-6,3,RL-5,CPFNC,NaN,NaN,NaN,TP-2,Chymotrypsin

In [140]:
pinir.UniprotID.nunique()

371

In [141]:
pinir.DomainID.nunique()

694

In [142]:
pinir.RclID.nunique()

63

In [143]:
pinir.linkerID.nunique()

75

In [144]:
pinir.OrganismID.nunique()

92

In [145]:
pinir[['DomainID', 'DomainType', 'RclID', 'Rcl','linkerID', 'Linker',
       'tpID','TargetProtease']].drop_duplicates().DomainType.value_counts()
# The file dom_rcl_linker_tp.csv had 695 records with Type 3 Domain Type as 201 whereas here it is 200 i.e. means
# one Domain Type 3 (without Linker) was not found in sequences

2    256
1    238
3    200
Name: DomainType, dtype: int64

In [161]:
pinir.linkerID.unique()

array([nan, 'L-46', 'L-58', 'L-24', 'L-23', 'L-14', 'L-11', 'L-16',
       'L-17', 'L-13', 'L-18', 'L-20', 'L-21', 'L-4', 'L-5', 'L-7', 'L-9',
       'L-8', 'L-3', 'L-1', 'L-55', 'L-76', 'L-56', 'L-66', 'L-50',
       'L-68', 'L-71', 'L-73', 'L-52', 'L-54', 'L-78', 'L-41', 'L-69',
       'L-42', 'L-43', 'L-44', 'L-45', 'L-47', 'L-48', 'L-49', 'L-70',
       'L-75', 'L-74', 'L-39', 'L-61', 'L-34', 'L-62', 'L-64', 'L-65',
       'L-67', 'L-37', 'L-36', 'L-30', 'L-31', 'L-32', 'L-33', 'L-28',
       'L-29', 'L-27', 'L-26', 'L-25', 'L-22', 'L-12', 'L-15', 'L-19',
       'L-6', 'L-10', 'L-2', 'L-72', 'L-57', 'L-51', 'L-53', 'L-77',
       'L-40', 'L-38', 'L-35'], dtype=object)

In [170]:
pinir.linkerID.nunique()

75

In [172]:
pinir.loc[~pinir.linkerID.isna(),:].linkerID.unique()

array(['L-46', 'L-58', 'L-24', 'L-23', 'L-14', 'L-11', 'L-16', 'L-17',
       'L-13', 'L-18', 'L-20', 'L-21', 'L-4', 'L-5', 'L-7', 'L-9', 'L-8',
       'L-3', 'L-1', 'L-55', 'L-76', 'L-56', 'L-66', 'L-50', 'L-68',
       'L-71', 'L-73', 'L-52', 'L-54', 'L-78', 'L-41', 'L-69', 'L-42',
       'L-43', 'L-44', 'L-45', 'L-47', 'L-48', 'L-49', 'L-70', 'L-75',
       'L-74', 'L-39', 'L-61', 'L-34', 'L-62', 'L-64', 'L-65', 'L-67',
       'L-37', 'L-36', 'L-30', 'L-31', 'L-32', 'L-33', 'L-28', 'L-29',
       'L-27', 'L-26', 'L-25', 'L-22', 'L-12', 'L-15', 'L-19', 'L-6',
       'L-10', 'L-2', 'L-72', 'L-57', 'L-51', 'L-53', 'L-77', 'L-40',
       'L-38', 'L-35'], dtype=object)

In [171]:
pinir.loc[~pinir.linkerID.isna(),:].linkerID.nunique()

75

In [178]:
pinir.loc[~pinir.linkerID.isna(),['linkerID','LinkerType']].drop_duplicates().count()

linkerID      75
LinkerType    75
dtype: int64

In [180]:
pinir.loc[~pinir.linkerID.isna(),['linkerID','LinkerType']].drop_duplicates().LinkerType.value_counts()

2.0    51
1.0    24
Name: LinkerType, dtype: int64

In [181]:
pinir.head(2)

,UniprotID,OrganismID,Organism,Solanaceae,DomainID,DomainType,RclID,Rcl,linkerID,Linker,LinkerType,tpID,TargetProtease
0,K4D750,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,IRD-1,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
1,E9JGT0,4112,Solanum nigrum (Black nightshade),1,IRD-3,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin

In [184]:
pinir.LinkerType.count()

1013

In [183]:
pinir.LinkerType.value_counts()

2.0    508
1.0    505
Name: LinkerType, dtype: int64

In [186]:
pinir.groupby('LinkerType').Linker.value_counts()

LinkerType  Linker
1.0         DPNNP     209
            DPRNP     166
            DPKNP      49
            DPKKP      15
            DPNHP      15
            DPRKP       9
            DPRNS       7
            DPKRP       5
            ESDEP       5
            GPKNP       4
            DPRKT       3
            GPNNP       3
            DLRNP       2
            DPINP       2
            DPKEGP      2
            DLKNP       1
            DNNHG       1
            DPNNS       1
            DPNSP       1
            DPNTP       1
            DPTNP       1
            HPKNP       1
            HPNNP       1
            NPENP       1
2.0         EEKKN     142
            EGNAE     129
            EGSPE      29
            EEKKD      28
            EEKNN      16
            EASAE      14
                     ...
            EGSPQ       3
            ETKRV       3
            GGKTF       3
            KEKKN       3
            QGSPQ       3
            EEDKN       2
            EEKKT       2
            EENAE       2
            EGNRV       2
            EGSAK       2
            EGSPR       2
            EKKDN       2
            ETKRI       2
            GGNTI       2
            KISNK       2
            EAKKN       1
            EEKKS       1
            EETKN       1
            EGGAE       1
            EGNTE       1
            EGNVE       1
            EGSPT       1
            EISNK       1
            EKDNN       1
            GGNAE       1
            GGNTL       1
            GRNTI       1
            KEKDN       1
            QEKKN       1
            RGKTL       1
Name: Linker, Length: 75, dtype: int64

In [ ]:
#pinir.groupby('LinkerType').Linker.value_counts().to_csv('PINIRV4/d20_LinkerSequenceDiversityAndVariation.csv')

In [192]:
pinir[['Organism','Linker','LinkerType']].loc[~pinir.Linker.isna(),:].head()

                                             Organism Linker  LinkerType
14                         Solanum tuberosum (Potato)  EGSPK         2.0
16  Solanum lycopersicum (Tomato) (Lycopersicon es...  EKDNN         2.0
33  Solanum lycopersicum (Tomato) (Lycopersicon es...  ESDEP         1.0
34                 Nicotiana tabacum (Common tobacco)  ESDEP         1.0
35                 Nicotiana tabacum (Common tobacco)  ESDEP         1.0

In [196]:
#pinir[['Organism','Linker','LinkerType']].loc[~pinir.Linker.isna(),:].groupby('LinkerType').Organism.value_counts().to_csv('PINIRV4/LinkerOrganismDistribution.csv')

In [198]:
pinir[['Organism','Linker','LinkerType']].loc[~pinir.Linker.isna(),:].groupby('LinkerType').Organism.value_counts()

LinkerType  Organism
1.0         Capsicum annuum (Bell pepper)                                          226
            Nicotiana tabacum (Common tobacco)                                      49
            Solanum tuberosum (Potato)                                              36
            Nicotiana sylvestris (Wood tobacco) (South American tobacco)            25
            Nicotiana attenuata (Coyote tobacco)                                    22
            Nicotiana obtusifolia                                                   14
            Solanum lycopersicum (Tomato) (Lycopersicon esculentum)                 14
            Capsicum chinense (Scotch bonnet) (Bonnet pepper)                       13
            Nicotiana glutinosa (Tobacco)                                           12
            Capsicum baccatum (Peruvian pepper)                                     10
            Nicotiana alata (Winged tobacco) (Persian tobacco)                       8
            Nicotiana acuminata (Acuminate tobacco)                                  6
            Nicotiana rustica (Aztec tobacco)                                        6
            Nicotiana clevelandii (Wild tobacco)                                     5
            Nicotiana miersii                                                        5
            Nicotiana occidentalis subsp. hesperis                                   5
            Nicotiana pauciflora                                                     5
            Nicotiana quadrivalvis                                                   5
            Nicotiana repanda                                                        5
            Nicotiana linearis                                                       4
            Nicotiana megalosiphon                                                   4
            Nicotiana simulans                                                       4
            Nicotiana spegazzinii                                                    4
            Nicotiana umbratica                                                      4
            Nicotiana benthamiana                                                    3
            Solanum chacoense (Chaco potato)                                         3
            Solanum americanum (American black nightshade) (Solanum nodiflorum)      2
            Solanum nigrum (Black nightshade)                                        2
            Nicotiana cavicola                                                       1
            Nicotiana corymbosa                                                      1
            Solanum melongena (Eggplant) (Aubergine)                                 1
            Solanum phureja                                                          1
2.0         Capsicum annuum (Bell pepper)                                          164
            Nicotiana tabacum (Common tobacco)                                      61
            Solanum tuberosum (Potato)                                              38
            Nicotiana sylvestris (Wood tobacco) (South American tobacco)            31
            Solanum lycopersicum (Tomato) (Lycopersicon esculentum)                 28
            Nicotiana attenuata (Coyote tobacco)                                    24
            Nicotiana obtusifolia                                                   16
            Nicotiana glutinosa (Tobacco)                                           14
            Capsicum chinense (Scotch bonnet) (Bonnet pepper)                       13
            Capsicum baccatum (Peruvian pepper)                                     11
            Nicotiana alata (Winged tobacco) (Persian tobacco)                      10
            Nicotiana acuminata (Acuminate tobacco)                                  7
            Nicotiana rustica (Aztec tobacco)                                        7
            Nicotiana clevelandii (Wild tobacco)                                     6
            Nicotiana miersii                                                        6
            Nicotiana occidentalis subsp. hesperis                                   6
            Nicotiana pauciflora                                                     6
            Nicotiana quadrivalvis                                                   6
            Nicotiana repanda                                                        6
            Solanum americanum (American black nightshade) (Solanum nodiflorum)      6
            Nicotiana linearis                                                       5
            Nicotiana megalosiphon                                                   5
            Nicotiana simulans                                                       5
            Nicotiana spegazzinii                                                    5
            Nicotiana umbratica                                                      5
            Nicotiana benthamiana                                                    4
            Solanum chacoense (Chaco potato)                                         4
            Solanum nigrum (Black nightshade)                                        4
            Nicotiana cavicola                                                       2
            Nicotiana corymbosa                                                      2
            Solanum phureja                                                          1
Name: Organism, dtype: int64

In [203]:
#pinir.groupby('Organism').Linker.value_counts().to_csv('PINIRV4/d21_d22_LinkerDistributionAcrossOrganism.csv')

In [202]:
pinir.groupby('Organism').Linker.value_counts()

Organism                                                             Linker
Capsicum annuum (Bell pepper)                                        DPNNP     196
                                                                     EGNAE     123
                                                                     DPNHP      13
                                                                     EASAE      10
                                                                     DPKNP       6
                                                                     EGSAE       6
                                                                     GLAKI       6
                                                                     QGETL       6
                                                                     GPNNP       3
                                                                     DPRKP       2
                                                                     DPRKT       2
                                                                     EENAE       2
                                                                     EGKTI       2
                                                                     EGSPK       2
                                                                     GSTKL       2
                                                                     DPNNS       1
                                                                     DPNSP       1
                                                                     DPNTP       1
                                                                     EGGAE       1
                                                                     EGNVE       1
                                                                     GGNAE       1
                                                                     GGNTI       1
                                                                     GRNTI       1
                                                                     HPNNP       1
Capsicum baccatum (Peruvian pepper)                                  DPNNP       6
                                                                     EGNAE       3
                                                                     EASAE       2
                                                                     DPKEGP      1
                                                                     DPKNP       1
                                                                     DPNHP       1
                                                                     DPRKP       1
                                                                     EGKTI       1
                                                                     EGSAE       1
                                                                     EGSAK       1
                                                                     EGSPK       1
                                                                     GLAKI       1
                                                                     QGETL       1
Capsicum chinense (Scotch bonnet) (Bonnet pepper)                    DPNNP       6
                                                                     DPKNP       3
                                                                     EGNAE       3
                                                                     EASAE       2
                                                                     DPKEGP      1
                                                                     DPNHP       1
                                                                     DPRKP       1
                                                                     DPRKT       1
                                                                     EGKTI       1
                                                                     EGNTE       1
                                                                     EGSAK       1
                                                                     EGSPK       1
                                                                     GGNTI       1
                                                                     GLAKI       1
                                                                     GSTKL       1
                                                                     QGETL       1
Nicotiana acuminata (Acuminate tobacco)                              DPRNP       6
                                                                     EEKDN       4
                                                                     EEKNN       2
                                                                     EEKKN       1
Nicotiana alata (Winged tobacco) (Persian tobacco)                   EEKKN      10
                                                                     DPRNP       5
                                                                     DPKNP       3
Nicotiana attenuata (Coyote tobacco)                                 DPRNP      18
                                                                     EEKKN      18
                                                                     DLRNP       2
                                                                     EEKNN       2
                                                                     DPKNP       1
                                                                     EEKDN       1
                                                                     EGETI       1
                                                                     ESDEP       1
                                                                     GDEQI       1
                                                                     GLVKI       1
Nicotiana benthamiana                                                DPRNP       3
                                                                     EEKKN       3
                                                                     EEKTN       1
Nicotiana cavicola                                                   EEKKN       2
                                                                     DPRNP       1
Nicotiana clevelandii (Wild tobacco)                                 DPRNP       5
                                                                     EEKKN       3
                                                                     EEKKD       2
                                                                     EEKDN       1
Nicotiana corymbosa                                                  DPRNP       1
                                                                     EEKDN       1
                                                                     EEKKN       1
Nicotiana glutinosa (Tobacco)                                        EEKKN       6
                                                                     EEKNN       6
                                                                     DPKNP       4
                                                                     DPRNP       4
                                                                     GPKNP       4
                                                                     EEKKT       2
Nicotiana linearis                                                   DPRNP       3
                                                                     EEKKN       2
                                                                     DPKNP       1
                                                                     EEKNN       1
                                                                     EETKN       1
                                                                     EKEDN       1
Nicotiana megalosiphon                                               DPRNP       4
                                                                     EEKKN       3
                                                                     EEKKS       1
                                                                     EEKTN       1
Nicotiana miersii                                                    EEKKN       5
                                                                     DPRNP       4
                                                                     DPKNP       1
                                                                     EAKKN       1
Nicotiana obtusifolia                                                DPRNP      10
                                                                     EEKKN      10
                                                                     EEKKD       6
                                                                     DPINP       2
                                                                     DPKNP       2
Nicotiana occidentalis subsp. hesperis                               DPRNP       5
                                                                     EEKKN       5
                                                                     EEKTN       1
Nicotiana pauciflora                                                 EEKKN       6
                                                                     DPRNP       5
Nicotiana quadrivalvis                                               DPRNP       5
                                                                     EEKKN       3
                                                                     EEKKD       2
                                                                     EEKDN       1
Nicotiana repanda                                                    DPRNP       4
                                                                     EEKKN       3
                                                                     DPNNP       1
                                                                     EEKTN       1
                                                                     KEKKN       1
                                                                     QEKKN       1
Nicotiana rustica (Aztec tobacco)                                    DPRNP       6
                                                                     EEKKN       5
                                                                     EEKKD       2
Nicotiana simulans                                                   DPRNP       4
                                                                     EEKKN       4
                                                                     EEKTN       1
Nicotiana spegazzinii                                                EEKKN       3
                                                                     DPRNP       2
                                                                     DPKNP       1
                                                                     DPTNP       1
                                                                     EEKNN       1
                                                                     EKEDN       1
Nicotiana sylvestris (Wood tobacco) (South American tobacco)         DPRNP      23
                                                                     EEKKN      19
                                                                     EEKDN       2
                                                                     EEKNN       2
                                                                     EKKDN       2
                                                                     GNKKF       2
                                                                     DPKNP       1
                                                                     EGETI       1
                                                                     ESDEP       1
                                                                     GDEQI       1
                                                                     GLVKI       1
                                                                     KEKKN       1
Nicotiana tabacum (Common tobacco)                                   DPRNP      38
                                                                     EEKKN      25
                                                                     EEKKD      16
                                                                     DPRNS       7
                                                                     GNKKF       4
                                                                     DPKNP       2
                                                                     EEDKN       2
                                                                     EEKDN       2
                                                                     EEKNN       2
                                                                     EGETI       2
                                                                     EKEDN       2
                                                                     ESDEP       2
                                                                     GDEQI       2
                                                                     GLVKI       2
                                                                     KEKDN       1
                                                                     KEKKN       1
Nicotiana umbratica                                                  EEKKN       5
                                                                     DPRNP       4
Solanum americanum (American black nightshade) (Solanum nodiflorum)  EGSPQ       3
                                                                     EGSPE       2
                                                                     DPKNP       1
                                                                     DPRNP       1
                                                                     EGETI       1
Solanum chacoense (Chaco potato)                                     EGSPE       2
                                                                     DPKKP       1
                                                                     DPKNP       1
                                                                     DPRNP       1
                                                                     EGNRV       1
                                                                     GSTKL       1
Solanum lycopersicum (Tomato) (Lycopersicon esculentum)              DPKRP       5
                                                                     EGSPL       5
                                                                     DPRKP       3
                                                                     ETKRV       3
                                                                     GGKTF       3
                                                                     GLAKL       3
                                                                     QGSPQ       3
                                                                     DPKNP       2
                                                                     EGKTI       2
                                                                     EGSPE       2
                                                                     KISNK       2
                                                                     DNNHG       1
                                                                     DPKKP       1
                                                                     DPRNP       1
                                                                     EGSPK       1
                                                                     EGSPR       1
                                                                     EISNK       1
                                                                     EKDNN       1
                                                                     ESDEP       1
                                                                     GNKKF       1
Solanum melongena (Eggplant) (Aubergine)                             NPENP       1
Solanum nigrum (Black nightshade)                                    EGSPE       2
                                                                     ETKRI       2
                                                                     DPKNP       1
                                                                     DPRNP       1
Solanum phureja                                                      DPKNP       1
                                                                     EGSPE       1
Solanum tuberosum (Potato)                                           EGSPE      20
                                                                     DPKNP      17
                                                                     DPKKP      13
                                                                     GDEQI       6
                                                                     DPRKP       2
                                                                     DPRNP       2
                                                                     GLAKL       2
                                                                     DLKNP       1
                                                                     EGKTI       1
                                                                     EGNRV       1
                                                                     EGSPK       1
                                                                     EGSPR       1
                                                                     EGSPT       1
                                                                     GGNTL       1
                                                                     GLAKI       1
                                                                     GNKKF       1
                                                                     GSTKL       1
                                                                     HPKNP       1
                                                                     RGKTL       1
Name: Linker, dtype: int64

In [4]:
domains=pd.read_csv('PINIRV4/dom_rcl_linker_tp.csv')

In [6]:
domains.id.count()

695

In [8]:
domains.RclID.nunique()

63

In [11]:
pinir.head()

,UniprotID,OrganismID,Organism,Solanaceae,DomainID,DomainType,RclID,Rcl,linkerID,Linker,LinkerType,tpID,TargetProtease
0,K4D750,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,IRD-1,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
1,E9JGT0,4112,Solanum nigrum (Black nightshade),1,IRD-3,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
2,Q7M222,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,IRD-4,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
3,A0A1S4BIG0,4097,Nicotiana tabacum (Common tobacco),1,IRD-5,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
4,A0A1S3Z2Q3,4097,Nicotiana tabacum (Common tobacco),1,IRD-6,3,RL-5,CPFNC,NaN,NaN,NaN,TP-2,Chymotrypsin

In [12]:
pinir.RclID.nunique()

63

In [13]:
pinir.Rcl.value_counts()

CPRNC    578
CTLNC    113
CPRYC     94
CPLNC     55
CTLEC     51
CPQFC     35
CTREC     34
CPLYC     29
CTKEC     27
CPQYC     22
CSKEC     21
CPKNC     17
CPFNC     16
CTFEC     14
CTFNC     13
CTQEC     11
CTQQC     10
CLQVC      9
CTRNC      8
CTTEC      8
CPRDC      7
CPLIC      7
CTMEC      7
CLQFC      6
CTQHC      6
CPQIC      5
CPANC      5
CSRNC      5
CPAIC      5
CSYEC      4
        ...
CAMYC      4
CPRIC      4
CPPNC      4
CRRNC      4
CLQYC      3
CPLFC      3
CTPNC      2
CPFYC      2
CTIEC      2
CPQNC      2
CPLVC      2
CHLNC      2
CLGNC      2
CTLDC      2
CNKIC      2
CSFNC      1
CIREC      1
CYLYC      1
CTFKC      1
CHQYC      1
CPFFC      1
CLQKC      1
CTQDC      1
CPMYC      1
CPRFC      1
CYLIC      1
CPDIC      1
CIQIC      1
CIEIC      1
CIETC      1
Name: Rcl, Length: 63, dtype: int64

In [23]:
#pinir.groupby('Rcl').Organism.value_counts().to_csv('PINIRV4/d24_RclOccurrenceInSpecies.csv')

In [24]:
pinir.groupby('Rcl').Organism.value_counts()

Rcl    Organism
CAMYC  Panicum hallii var. hallii                                             2
       Setaria italica (Foxtail millet) (Panicum italicum)                    2
CHLNC  Solanum lycopersicum (Tomato) (Lycopersicon esculentum)                2
CHQYC  Aegilops tauschii (Tausch's goatgrass) (Aegilops squarrosa)            1
CIEIC  Saccharum hybrid cultivar R570                                         1
CIETC  Sorghum bicolor (Sorghum) (Sorghum vulgare)                            1
CIQIC  Rosa chinensis (China rose)                                            1
CIQVC  Capsicum annuum (Bell pepper)                                          2
       Capsicum baccatum (Peruvian pepper)                                    1
       Capsicum chinense (Scotch bonnet) (Bonnet pepper)                      1
CIREC  Solanum tuberosum (Potato)                                             1
CLGNC  Capsicum baccatum (Peruvian pepper)                                    2
CLQFC  Nicotiana tabacum (Common tobacco)                                     2
       Capsicum baccatum (Peruvian pepper)                                    1
       Capsicum chinense (Scotch bonnet) (Bonnet pepper)                      1
       Nicotiana attenuata (Coyote tobacco)                                   1
       Nicotiana sylvestris (Wood tobacco) (South American tobacco)           1
CLQKC  Nicotiana sylvestris (Wood tobacco) (South American tobacco)           1
CLQVC  Solanum tuberosum (Potato)                                             4
       Capsicum annuum (Bell pepper)                                          2
       Capsicum baccatum (Peruvian pepper)                                    1
       Capsicum chinense (Scotch bonnet) (Bonnet pepper)                      1
       Solanum lycopersicum (Tomato) (Lycopersicon esculentum)                1
CLQYC  Solanum tuberosum (Potato)                                             3
CNKIC  Prunus persica (Peach) (Amygdalus persica)                             1
       Prunus yedoensis var. nudiflora                                        1
CPAIC  Capsicum chinense (Scotch bonnet) (Bonnet pepper)                      3
       Capsicum baccatum (Peruvian pepper)                                    2
CPANC  Capsicum chinense (Scotch bonnet) (Bonnet pepper)                      3
       Capsicum baccatum (Peruvian pepper)                                    2
                                                                             ..
CTQEC  Capsicum chinense (Scotch bonnet) (Bonnet pepper)                      2
       Solanum tuberosum (Potato)                                             2
       Cuscuta australis                                                      1
CTQHC  Capsicum annuum (Bell pepper)                                          4
       Capsicum chinense (Scotch bonnet) (Bonnet pepper)                      2
CTQQC  Solanum lycopersicum (Tomato) (Lycopersicon esculentum)                4
       Solanum tuberosum (Potato)                                             4
       Solanum chacoense (Chaco potato)                                       2
CTREC  Solanum lycopersicum (Tomato) (Lycopersicon esculentum)                7
       Capsicum annuum (Bell pepper)                                          6
       Solanum americanum (American black nightshade) (Solanum nodiflorum)    5
       Nicotiana occidentalis subsp. hesperis                                 3
       Selaginella moellendorffii (Spikemoss)                                 3
       Solanum nigrum (Black nightshade)                                      3
       Capsicum baccatum (Peruvian pepper)                                    1
       Nicotiana benthamiana                                                  1
       Nicotiana cavicola                                                     1
       Nicotiana megalosiphon                                                 1
       Nicotiana simulans                                                     1
       Nicotiana umbratica                                                    1
       Solanum tuberosum (Potato)                                             1
CTRNC  Nicotiana tabacum (Common tobacco)                                     4
       Nicotiana sylvestris (Wood tobacco) (South American tobacco)           2
       Nicotiana attenuata (Coyote tobacco)                                   1
       Solanum tuberosum (Potato)                                             1
CTTEC  Nicotiana tabacum (Common tobacco)                                     4
       Nicotiana attenuata (Coyote tobacco)                                   2
       Nicotiana sylvestris (Wood tobacco) (South American tobacco)           2
CYLIC  Genlisea aurea                                                         1
CYLYC  Daucus carota subsp. sativus                                           1
Name: Organism, Length: 256, dtype: int64

In [29]:
#pinir.groupby('Organism').Rcl.value_counts().to_csv('PINIRV4/d25_OrganismDiversityOfRCL.csv')

In [30]:
pinir.groupby('Organism').Rcl.value_counts()

Organism                                                                              Rcl
Aegilops tauschii (Tausch's goatgrass) (Aegilops squarrosa)                           CHQYC      1
Ananas comosus (Pineapple) (Ananas ananas)                                            CPQYC      2
Apostasia shenzhenica                                                                 CPLYC      1
Arabidopsis lyrata subsp. lyrata (Lyre-leaved rock-cress)                             CPLYC      1
Arabidopsis thaliana (Mouse-ear cress)                                                CPLYC      2
Brachypodium distachyon (Purple false brome) (Trachynia distachya)                    CPQYC      1
Brassica oleracea var. oleracea                                                       CPLYC      1
Brassica rapa subsp. pekinensis (Chinese cabbage) (Brassica pekinensis)               CPLYC      1
Capsella rubella                                                                      CPLYC      1
Capsicum annuum (Bell pepper)                                                         CPRNC    188
                                                                                      CPRYC     88
                                                                                      CTLNC     81
                                                                                      CTLEC     16
                                                                                      CPKNC     12
                                                                                      CTREC      6
                                                                                      CTQEC      4
                                                                                      CTQHC      4
                                                                                      CSRNC      3
                                                                                      CIQVC      2
                                                                                      CLQVC      2
                                                                                      CPQFC      2
                                                                                      CTKEC      2
                                                                                      CTMEC      2
                                                                                      CTPNC      2
                                                                                      CPQIC      1
                                                                                      CPRDC      1
Capsicum baccatum (Peruvian pepper)                                                   CPRNC      5
                                                                                      CPRYC      4
                                                                                      CTLEC      4
                                                                                      CLGNC      2
                                                                                      CPAIC      2
                                                                                      CPANC      2
                                                                                      CTKEC      2
                                                                                      CTLDC      2
                                                                                      CTQEC      2
                                                                                      CIQVC      1
                                                                                      CLQFC      1
                                                                                      CLQVC      1
                                                                                      CPKNC      1
                                                                                      CPQFC      1
                                                                                      CPQIC      1
                                                                                      CPRDC      1
                                                                                      CTREC      1
Capsicum chinense (Scotch bonnet) (Bonnet pepper)                                     CPRNC     10
                                                                                      CTLNC      5
                                                                                      CTLEC      4
                                                                                      CPAIC      3
                                                                                      CPANC      3
                                                                                      CPRYC      2
                                                                                      CSRNC      2
                                                                                      CTKEC      2
                                                                                      CTQEC      2
                                                                                      CTQHC      2
                                                                                      CIQVC      1
                                                                                      CLQFC      1
                                                                                      CLQVC      1
                                                                                      CPKNC      1
                                                                                      CPQIC      1
                                                                                      CPRDC      1
                                                                                      CTMEC      1
Cicer arietinum (Chickpea) (Garbanzo)                                                 CPLIC      1
Coffea canephora (Robusta coffee)                                                     CPQYC      2
                                                                                      CPFFC      1
                                                                                      CPLVC      1
                                                                                      CPRFC      1
Cuscuta australis                                                                     CPRNC      1
                                                                                      CTLEC      1
                                                                                      CTQEC      1
Daucus carota subsp. sativus                                                          CYLYC      1
Dendrobium catenatum                                                                  CPQYC      1
Dichanthelium oligosanthes                                                            CPLYC      1
                                                                                      CPQFC      1
                                                                                      CPQYC      1
Dorcoceras hygrometricum                                                              CPLYC      1
Erythranthe guttata (Yellow monkey flower) (Mimulus guttatus)                         CPLYC      1
Eucalyptus grandis (Flooded gum)                                                      CPLVC      1
Fagus sylvatica (Beechnut)                                                            CPLYC      1
Genlisea aurea                                                                        CPLFC      1
                                                                                      CYLIC      1
Handroanthus impetiginosus                                                            CPLYC      3
Hordeum vulgare subsp. vulgare (Domesticated barley)                                  CPQYC      1
Jatropha curcas (Barbados nut)                                                        CPLYC      1
Juglans regia (English walnut)                                                        CPLYC      1
Leersia perrieri                                                                      CPQFC      2
Manihot esculenta (Cassava) (Jatropha manihot)                                        CPLYC      2
Medicago truncatula (Barrel medic) (Medicago tribuloides)                             CPQFC      2
Morus notabilis                                                                       CPQYC      1
Mucuna pruriens (Velvet bean) (Dolichos pruriens)                                     CPQIC      1
Nicotiana acuminata (Acuminate tobacco)                                               CPRNC     12
                                                                                      CPFNC      1
Nicotiana alata (Winged tobacco) (Persian tobacco)                                    CPRNC     12
                                                                                      CTLNC      6
Nicotiana attenuata (Coyote tobacco)                                                  CPRNC     43
                                                                                      CPQFC      2
                                                                                      CTTEC      2
                                                                                      CLQFC      1
                                                                                      CPRDC      1
                                                                                      CTKEC      1
                                                                                      CTRNC      1
Nicotiana benthamiana                                                                 CPRNC      4
                                                                                      CTFEC      2
                                                                                      CTREC      1
Nicotiana cavicola                                                                    CTFEC      2
                                                                                      CTREC      1
Nicotiana clevelandii (Wild tobacco)                                                  CPRNC     11
Nicotiana corymbosa                                                                   CPRNC      2
                                                                                      CPFNC      1
Nicotiana glutinosa (Tobacco)                                                         CPRNC     22
                                                                                      CPLNC      4
Nicotiana linearis                                                                    CPRNC      9
Nicotiana megalosiphon                                                                CPRNC      6
                                                                                      CTFEC      2
                                                                                      CTREC      1
Nicotiana miersii                                                                     CPRNC     10
                                                                                      CTFNC      1
Nicotiana obtusifolia                                                                 CPRNC     26
                                                                                      CPFNC      4
Nicotiana occidentalis subsp. hesperis                                                CPRNC      6
                                                                                      CTREC      3
                                                                                      CTIEC      2
Nicotiana pauciflora                                                                  CPRNC     10
                                                                                      CPFNC      1
Nicotiana quadrivalvis                                                                CPRNC     11
Nicotiana repanda                                                                     CPLNC      6
                                                                                      CPQNC      2
                                                                                      CPRNC      2
                                                                                      CTFNC      1
Nicotiana rustica (Aztec tobacco)                                                     CPRNC      8
                                                                                      CTLNC      5
Nicotiana simulans                                                                    CPRNC      6
                                                                                      CTFEC      2
                                                                                      CTREC      1
Nicotiana spegazzinii                                                                 CPRNC      7
                                                                                      CPRIC      2
Nicotiana sylvestris (Wood tobacco) (South American tobacco)                          CPRNC     41
                                                                                      CTLNC      6
                                                                                      CPLNC      2
                                                                                      CPQFC      2
                                                                                      CRRNC      2
                                                                                      CTRNC      2
                                                                                      CTTEC      2
                                                                                      CLQFC      1
                                                                                      CLQKC      1
                                                                                      CPRDC      1
                                                                                      CSFNC      1
                                                                                      CTKEC      1
Nicotiana tabacum (Common tobacco)                                                    CPRNC     77
                                                                                      CTLNC     10
                                                                                      CPLNC      7
                                                                                      CPFNC      5
                                                                                      CPQFC      4
                                                                                      CTRNC      4
                                                                                      CTTEC      4
                                                                                      CLQFC      2
                                                                                      CPPNC      2
                                                                                      CPRDC      2
                                                                                      CRRNC      2
                                                                                      CTKEC      2
                                                                                      CTQDC      1
Nicotiana umbratica                                                                   CPRNC      6
                                                                                      CTFEC      2
                                                                                      CTREC      1
Noccaea caerulescens (Alpine penny-cress) (Thlaspi caerulescens)                      CPLYC      4
Olea europaea (Common olive)                                                          CTKEC      1
Oryza barthii                                                                         CPQFC      1
Oryza brachyantha                                                                     CPQFC      1
Oryza glaberrima (African rice)                                                       CPQFC      1
Oryza glumipatula                                                                     CPQFC      1
Oryza meridionalis                                                                    CPQFC      1
Oryza nivara (Indian wild rice) (Oryza sativa f. spontanea)                           CPQFC      1
Oryza punctata (Red rice)                                                             CPQFC      1
Oryza rufipogon (Brownbeard rice) (Asian wild rice)                                   CPQFC      1
Oryza sativa subsp. indica (Rice)                                                     CPQFC      1
Oryza sativa subsp. japonica (Rice)                                                   CPQFC      1
Panicum hallii                                                                        CPQYC      1
Panicum hallii var. hallii                                                            CAMYC      2
                                                                                      CPQYC      2
Parasponia andersonii (Sponia andersonii)                                             CPQFC      1
Populus trichocarpa (Western balsam poplar) (Populus balsamifera subsp. trichocarpa)  CPLYC      2
Prunus persica (Peach) (Amygdalus persica)                                            CPQYC      2
                                                                                      CNKIC      1
Prunus yedoensis var. nudiflora                                                       CNKIC      1
Punica granatum (Pomegranate)                                                         CPQYC      1
Quercus suber (Cork oak)                                                              CPQYC      3
                                                                                      CPDIC      1
Ricinus communis (Castor bean)                                                        CPLYC      1
Rosa chinensis (China rose)                                                           CPLIC      2
                                                                                      CIQIC      1
                                                                                      CPQFC      1
                                                                                      CPQIC      1
Saccharum hybrid cultivar R570                                                        CIEIC      1
                                                                                      CPMYC      1
Selaginella moellendorffii (Spikemoss)                                                CPLIC      4
                                                                                      CTREC      3
                                                                                      CTLEC      2
                                                                                      CPQYC      1
                                                                                      CTFKC      1
Setaria italica (Foxtail millet) (Panicum italicum)                                   CAMYC      2
Solanum americanum (American black nightshade) (Solanum nodiflorum)                   CTREC      5
                                                                                      CPLFC      2
                                                                                      CTFEC      2

In [31]:
pinir.columns

Index(['UniprotID', 'OrganismID', 'Organism', 'Solanaceae', 'DomainID',
       'DomainType', 'RclID', 'Rcl', 'linkerID', 'Linker', 'LinkerType',
       'tpID', 'TargetProtease'],
      dtype='object')

In [34]:
#pinir.groupby('Solanaceae').Rcl.value_counts().to_csv('PINIRV4/d25_SolanaceaeDiversityOfRcl.csv')

In [35]:
pinir.groupby('Solanaceae').Rcl.value_counts()

Solanaceae  Rcl
0           CPLYC     27
            CPQYC     22
            CPQFC     20
            CPLIC      7
            CAMYC      4
            CTLEC      3
            CTREC      3
            CNKIC      2
            CPLVC      2
            CPQIC      2
            CHQYC      1
            CIEIC      1
            CIETC      1
            CIQIC      1
            CPDIC      1
            CPFFC      1
            CPLFC      1
            CPMYC      1
            CPRFC      1
            CPRNC      1
            CTFKC      1
            CTKEC      1
            CTQEC      1
            CYLIC      1
            CYLYC      1
1           CPRNC    577
            CTLNC    113
            CPRYC     94
            CPLNC     55
            CTLEC     48
            CTREC     31
            CTKEC     26
            CSKEC     21
            CPKNC     17
            CPFNC     16
            CPQFC     15
            CTFEC     14
            CTFNC     13
            CTQEC     10
            CTQQC     10
            CLQVC      9
            CTRNC      8
            CTTEC      8
            CPRDC      7
            CTMEC      7
            CLQFC      6
            CTQHC      6
            CPAIC      5
            CPANC      5
            CSRNC      5
            CIQVC      4
            CPKEC      4
            CPPNC      4
            CPRIC      4
            CPSYC      4
            CRRNC      4
            CSYEC      4
            CLQYC      3
            CPQIC      3
            CHLNC      2
            CLGNC      2
            CPFYC      2
            CPLFC      2
            CPLYC      2
            CPQNC      2
            CTIEC      2
            CTLDC      2
            CTPNC      2
            CIREC      1
            CLQKC      1
            CSFNC      1
            CTQDC      1
Name: Rcl, dtype: int64

In [36]:
rcl=pd.read_csv('PINIRV4/rcl_targetProtease.csv')

In [37]:
rcl.count()

id                63
RclID             63
Rcl               63
targetProtease    63
tpID              63
dtype: int64

In [38]:
rcl.targetProtease.value_counts()

Unknown         25
Chymotrypsin    20
Trypsin         15
Elastase         3
Name: targetProtease, dtype: int64

In [42]:
domains.targetProtease.value_counts()

Trypsin         396
Chymotrypsin    177
Unknown         110
Elastase         12
Name: targetProtease, dtype: int64

In [43]:
pinir.head()

,UniprotID,OrganismID,Organism,Solanaceae,DomainID,DomainType,RclID,Rcl,linkerID,Linker,LinkerType,tpID,TargetProtease
0,K4D750,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,IRD-1,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
1,E9JGT0,4112,Solanum nigrum (Black nightshade),1,IRD-3,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
2,Q7M222,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,IRD-4,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
3,A0A1S4BIG0,4097,Nicotiana tabacum (Common tobacco),1,IRD-5,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
4,A0A1S3Z2Q3,4097,Nicotiana tabacum (Common tobacco),1,IRD-6,3,RL-5,CPFNC,NaN,NaN,NaN,TP-2,Chymotrypsin

In [48]:
#pinir.groupby('Organism').TargetProtease.value_counts().to_csv('PINIRV4/d30_targetSpecificityAcrossSpecies.csv')

In [47]:
pinir.groupby('Organism').TargetProtease.value_counts()

Organism                                                                              TargetProtease
Aegilops tauschii (Tausch's goatgrass) (Aegilops squarrosa)                           Unknown             1
Ananas comosus (Pineapple) (Ananas ananas)                                            Unknown             2
Apostasia shenzhenica                                                                 Chymotrypsin        1
Arabidopsis lyrata subsp. lyrata (Lyre-leaved rock-cress)                             Chymotrypsin        1
Arabidopsis thaliana (Mouse-ear cress)                                                Chymotrypsin        2
Brachypodium distachyon (Purple false brome) (Trachynia distachya)                    Unknown             1
Brassica oleracea var. oleracea                                                       Chymotrypsin        1
Brassica rapa subsp. pekinensis (Chinese cabbage) (Brassica pekinensis)               Chymotrypsin        1
Capsella rubella                                                                      Chymotrypsin        1
Capsicum annuum (Bell pepper)                                                         Trypsin           300
                                                                                      Chymotrypsin       97
                                                                                      Unknown            19
Capsicum baccatum (Peruvian pepper)                                                   Trypsin            14
                                                                                      Unknown             7
                                                                                      Chymotrypsin        6
                                                                                      Elastase            6
Capsicum chinense (Scotch bonnet) (Bonnet pepper)                                     Trypsin            18
                                                                                      Chymotrypsin        9
                                                                                      Unknown             9
                                                                                      Elastase            6
Cicer arietinum (Chickpea) (Garbanzo)                                                 Chymotrypsin        1
Coffea canephora (Robusta coffee)                                                     Chymotrypsin        2
                                                                                      Unknown             2
                                                                                      Trypsin             1
Cuscuta australis                                                                     Chymotrypsin        1
                                                                                      Trypsin             1
                                                                                      Unknown             1
Daucus carota subsp. sativus                                                          Chymotrypsin        1
Dendrobium catenatum                                                                  Unknown             1
Dichanthelium oligosanthes                                                            Unknown             2
                                                                                      Chymotrypsin        1
Dorcoceras hygrometricum                                                              Chymotrypsin        1
Erythranthe guttata (Yellow monkey flower) (Mimulus guttatus)                         Chymotrypsin        1
Eucalyptus grandis (Flooded gum)                                                      Chymotrypsin        1
Fagus sylvatica (Beechnut)                                                            Chymotrypsin        1
Genlisea aurea                                                                        Chymotrypsin        2
Handroanthus impetiginosus                                                            Chymotrypsin        3
Hordeum vulgare subsp. vulgare (Domesticated barley)                                  Unknown             1
Jatropha curcas (Barbados nut)                                                        Chymotrypsin        1
Juglans regia (English walnut)                                                        Chymotrypsin        1
Leersia perrieri                                                                      Unknown             2
Manihot esculenta (Cassava) (Jatropha manihot)                                        Chymotrypsin        2
Medicago truncatula (Barrel medic) (Medicago tribuloides)                             Unknown             2
Morus notabilis                                                                       Unknown             1
Mucuna pruriens (Velvet bean) (Dolichos pruriens)                                     Unknown             1
Nicotiana acuminata (Acuminate tobacco)                                               Trypsin            12
                                                                                      Chymotrypsin        1
Nicotiana alata (Winged tobacco) (Persian tobacco)                                    Trypsin            12
                                                                                      Chymotrypsin        6
Nicotiana attenuata (Coyote tobacco)                                                  Trypsin            46
                                                                                      Unknown             5
Nicotiana benthamiana                                                                 Trypsin             5
                                                                                      Chymotrypsin        2
Nicotiana cavicola                                                                    Chymotrypsin        2
                                                                                      Trypsin             1
Nicotiana clevelandii (Wild tobacco)                                                  Trypsin            11
Nicotiana corymbosa                                                                   Trypsin             2
                                                                                      Chymotrypsin        1
Nicotiana glutinosa (Tobacco)                                                         Trypsin            22
                                                                                      Chymotrypsin        4
Nicotiana linearis                                                                    Trypsin             9
Nicotiana megalosiphon                                                                Trypsin             7
                                                                                      Chymotrypsin        2
Nicotiana miersii                                                                     Trypsin            10
                                                                                      Chymotrypsin        1
Nicotiana obtusifolia                                                                 Trypsin            26
                                                                                      Chymotrypsin        4
Nicotiana occidentalis subsp. hesperis                                                Trypsin             9
                                                                                      Chymotrypsin        2
Nicotiana pauciflora                                                                  Trypsin            10
                                                                                      Chymotrypsin        1
Nicotiana quadrivalvis                                                                Trypsin            11
Nicotiana repanda                                                                     Chymotrypsin        7
                                                                                      Trypsin             2
                                                                                      Unknown             2
Nicotiana rustica (Aztec tobacco)                                                     Trypsin             8
                                                                                      Chymotrypsin        5
Nicotiana simulans                                                                    Trypsin             7
                                                                                      Chymotrypsin        2
Nicotiana spegazzinii                                                                 Trypsin             9
Nicotiana sylvestris (Wood tobacco) (South American tobacco)                          Trypsin            47
                                                                                      Chymotrypsin        9
                                                                                      Unknown             6
Nicotiana tabacum (Common tobacco)                                                    Trypsin            87
                                                                                      Chymotrypsin       22
                                                                                      Unknown            13
Nicotiana umbratica                                                                   Trypsin             7
                                                                                      Chymotrypsin        2
Noccaea caerulescens (Alpine penny-cress) (Thlaspi caerulescens)                      Chymotrypsin        4
Olea europaea (Common olive)                                                          Trypsin             1
Oryza barthii                                                                         Unknown             1
Oryza brachyantha                                                                     Unknown             1
Oryza glaberrima (African rice)                                                       Unknown             1
Oryza glumipatula                                                                     Unknown             1
Oryza meridionalis                                                                    Unknown             1
Oryza nivara (Indian wild rice) (Oryza sativa f. spontanea)                           Unknown             1
Oryza punctata (Red rice)                                                             Unknown             1
Oryza rufipogon (Brownbeard rice) (Asian wild rice)                                   Unknown             1
Oryza sativa subsp. indica (Rice)                                                     Unknown             1
Oryza sativa subsp. japonica (Rice)                                                   Unknown             1
Panicum hallii                                                                        Unknown             1
Panicum hallii var. hallii                                                            Unknown             4
Parasponia andersonii (Sponia andersonii)                                             Unknown             1
Populus trichocarpa (Western balsam poplar) (Populus balsamifera subsp. trichocarpa)  Chymotrypsin        2
Prunus persica (Peach) (Amygdalus persica)                                            Unknown             2
                                                                                      Trypsin             1
Prunus yedoensis var. nudiflora                                                       Trypsin             1
Punica granatum (Pomegranate)                                                         Unknown             1
Quercus suber (Cork oak)                                                              Unknown             4
Ricinus communis (Castor bean)                                                        Chymotrypsin        1
Rosa chinensis (China rose)                                                           Unknown             3
                                                                                      Chymotrypsin        2
Saccharum hybrid cultivar R570                                                        Unknown             2
Selaginella moellendorffii (Spikemoss)                                                Chymotrypsin        7
                                                                                      Trypsin             3
                                                                                      Unknown             1
Setaria italica (Foxtail millet) (Panicum italicum)                                   Unknown             2
Solanum americanum (American black nightshade) (Solanum nodiflorum)                   Trypsin             5
                                                                                      Chymotrypsin        4
Solanum chacoense (Chaco potato)                                                      Chymotrypsin        7
                                                                                      Trypsin             4
                                                                                      Unknown             2
Solanum lycopersicum (Tomato) (Lycopersicon esculentum)                               Trypsin            33
                                                                                      Chymotrypsin       17
                                                                                      Unknown            13
Solanum melongena (Eggplant) (Aubergine)                                              Trypsin             1
Solanum nigrum (Black nightshade)                                                     Trypsin             9
                                                                                      Chymotrypsin        4
Solanum phureja                                                                       Trypsin             2
                                                                                      Chymotrypsin        1
Solanum tuberosum (Potato)                                                            Chymotrypsin       58
                                                                                      Trypsin            53
                                                                                      Unknown            19
Sorghum bicolor (Sorghum) (Sorghum vulgare)                                           Unknown             2
                                                                                      Chymotrypsin        1
Spinacia oleracea (Spinach)                                                           Unknown             1
Triticum aestivum (Wheat)                                                             Unknown             1
Triticum urartu (Red wild einkorn) (Crithodium urartu)                                Unknown             1
Vitis vinifera (Grape)                                                                Chymotrypsin        1
Zea mays (Maize)                                                                      Unknown             2
Name: TargetProtease, dtype: int64

In [150]:
## Adding Genus Column to OrganismList.xlsx

In [5]:
organism=pd.read_excel('PINIRV4/OrganismList.xlsx')

In [114]:
organism.OrganismID.nunique()

94

In [115]:
organism.head()

   OrganismID                                           Organism  Solanaceae
0        3476          Parasponia andersonii (Sponia andersonii)           0
1        3562                        Spinacia oleracea (Spinach)           0
2        3694  Populus trichocarpa (Western balsam poplar) (P...           0
3        3702             Arabidopsis thaliana (Mouse-ear cress)           0
4        3760         Prunus persica (Peach) (Amygdalus persica)           0

In [118]:
'Parasponia andersonii (Sponia andersonii)'.split()[0]

'Parasponia'

In [120]:
organism['Genus']=organism['Organism'].apply(lambda x:x.split()[0])

In [151]:
organism.head()

,OrganismID,Organism,Solanaceae,Genus
0,3476,Parasponia andersonii (Sponia andersonii),0,Parasponia
1,3562,Spinacia oleracea (Spinach),0,Spinacia
2,3694,Populus trichocarpa (Western balsam poplar) (P...,0,Populus
3,3702,Arabidopsis thaliana (Mouse-ear cress),0,Arabidopsis
4,3760,Prunus persica (Peach) (Amygdalus persica),0,Prunus

In [153]:
#organism.to_excel('PINIRV4/OrganismList.xlsx',index=False)

In [154]:
#*******************************************************************************************************************#

In [156]:
pinir.head(2)

,UniprotID,OrganismID,Organism,Solanaceae,Genus,DomainID,DomainType,RclID,Rcl,linkerID,Linker,LinkerType,tpID,TargetProtease
0,K4D750,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,1,Solanum,IRD-1,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin
1,E9JGT0,4112,Solanum nigrum (Black nightshade),1,Solanum,IRD-3,3,RL-1,CPRNC,NaN,NaN,NaN,TP-1,Trypsin

In [157]:
pinir.Genus.nunique()

49

In [158]:
pinir.Genus.value_counts()

Capsicum         491
Nicotiana        459
Solanum          232
Selaginella       11
Oryza             10
Coffea             5
Rosa               5
Panicum            5
Quercus            4
Prunus             4
Noccaea            4
Arabidopsis        3
Sorghum            3
Cuscuta            3
Dichanthelium      3
Handroanthus       3
Brassica           2
Populus            2
Ananas             2
Manihot            2
Triticum           2
Saccharum          2
Setaria            2
Zea                2
Genlisea           2
Leersia            2
Medicago           2
Apostasia          1
Vitis              1
Brachypodium       1
Capsella           1
Jatropha           1
Morus              1
Juglans            1
Dorcoceras         1
Aegilops           1
Fagus              1
Erythranthe        1
Olea               1
Mucuna             1
Eucalyptus         1
Punica             1
Daucus             1
Parasponia         1
Dendrobium         1
Hordeum            1
Spinacia           1
Ricinus            1
Cicer              1
Name: Genus, dtype: int64

# Extracting the Taxonomy for used Species and Genus

#So overall Taxon which are used are:[3476,    3562,    3694,    3702,    3760,    3827,    3880, 3983,    3988,    4072,    4081,    4086,    4087,    4093,  4096,    4097,    4100,    4108,    4111,    4112,    4113,  4146,    4155,    4529,    4533,    4536,    4537,    4538,  4555,    4558,    4565,    4572,    4577,    4615,   15368,  22663,   28930,   29760,   33113,   33114,   35889,   37682,  39946,   39947,   40148,   40149,   49390,   49451,   51240,         51351,   58331,   63057,   65489,   71139,   74649,   76336,         77586,   79200,   80379,   81866,   81972,   81985,   88036,        107243,  109376,  109975,  112509,  118690,  118701,  118703,        118704,  118709,  118712,  131158,  157652,  172790,  180498,        192259,  200300,  200301,  200306,  200315,  200316,  206008,        267555,  278839,  429701,  472368,  888268,  906689,  981085,       1088818, 1504633, 2094558]
#+ [15367.,   49693.,   37818.,   24609.,   49274.,    4071.,          4107.,    4085.,  200313.,    4145., 1288022.,  192258.,         21024.,    3511.,   16718.,    3689.,    3987.,    3982.,          3995.,    3475.,    3479.,    3497.,    3754.,    3764.,          3701.,   59689.,    3718.,    3711.,    3712.,  290573.,         22662., 1502711.,    3246.,    4527.,    4530.,    4557.,        128810.,   35711.,    4575.,    4513.,    4554.,    4480.,        161620.,    4564.,    3932., 1803640.,    3561., 1824901.,          4039.,    4614.,   13442.,    3759., 2100772.,  206008.,          3826.,    3877.,   40336.,    3603.] 
#+ [4107.,    4085.,    3754.,    3701.,    3705.,    4527.,        286192.,    4512., 1824618., 1873447.,    4539., 2100772.] + 
#[4546,4038,4539]

In [74]:
usedTaxonomy=taxonomy.loc[taxonomy.Taxon.isin([3476,    3562,    3694,    3702,    3760,    3827,    3880,
          3983,    3988,    4072,    4081,    4086,    4087,    4093,
          4096,    4097,    4100,    4108,    4111,    4112,    4113,
          4146,    4155,    4529,    4533,    4536,    4537,    4538,
          4555,    4558,    4565,    4572,    4577,    4615,   15368,
         22663,   28930,   29760,   33113,   33114,   35889,   37682,
         39946,   39947,   40148,   40149,   49390,   49451,   51240,
         51351,   58331,   63057,   65489,   71139,   74649,   76336,
         77586,   79200,   80379,   81866,   81972,   81985,   88036,
        107243,  109376,  109975,  112509,  118690,  118701,  118703,
        118704,  118709,  118712,  131158,  157652,  172790,  180498,
        192259,  200300,  200301,  200306,  200315,  200316,  206008,
        267555,  278839,  429701,  472368,  888268,  906689,  981085,
       1088818, 1504633, 2094558,15367.,   49693.,   37818.,   24609.,   49274.,    4071.,
          4107.,    4085.,  200313.,    4145., 1288022.,  192258.,
         21024.,    3511.,   16718.,    3689.,    3987.,    3982.,
          3995.,    3475.,    3479.,    3497.,    3754.,    3764.,
          3701.,   59689.,    3718.,    3711.,    3712.,  290573.,
         22662., 1502711.,    3246.,    4527.,    4530.,    4557.,
        128810.,   35711.,    4575.,    4513.,    4554.,    4480.,
        161620.,    4564.,    3932., 1803640.,    3561., 1824901.,
          4039.,    4614.,   13442.,    3759., 2100772.,  206008.,
          3826.,    3877.,   40336.,    3603.,4107.,    4085.,    3754.,    3701.,    3705.,    4527.,
        286192.,    4512., 1824618., 1873447.,    4539., 2100772.,4546,4038,4539]),:]

In [149]:
#usedTaxonomy.to_csv('PINIRV4/TaxonomyForUsedSpeciesAndGenus.csv')