# PINIR Data Preprocessing - Page-2

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [3]:
pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows')

In [4]:
pd.set_option('display.max_colwidth',2000)

In [5]:
pd.reset_option('display.max_colwidth')

## Domains- PI Sequence Analysis
File Used *PINIR_Pin2Sequences.csv* created using python program *DomainFinder.py*

In [14]:
pin2_sequences=pd.read_csv('data/1_pi_general_features.csv')

In [15]:
pin2_sequences.head(2)

,UniprotID,EntryName,Status,ProteinNames,Sequence,SignalPeptide,GeneNames,OrganismID,Organism,TaxonomicLineage(ALL),...,Function[CC],GeneOntologyIDs,GeneOntology(GO),GeneOntology(cellularcomponent),GeneOntology(molecularfunction),PubMedID,Cross-reference(InterPro),Cross-reference(Pfam),Cross-reference(MEROPS),Cross-reference(EMBL)
0,P05119,IP21_SOLLC,reviewed,Wound-induced proteinase inhibitor 2 (Wound-in...,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,SIGNAL 1..25,NaN,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,"cellular organisms, Eukaryota, Viridiplantae, ...",...,FUNCTION: Potent inhibitor of both trypsin and...,GO:0004867; GO:0005576,extracellular region [GO:0005576]; serine-type...,extracellular region [GO:0005576],serine-type endopeptidase inhibitor activity [...,3838986; 12684499,IPR003465;,PF02428;,I20.003;,K03291;
1,P84813,POTM1_SOLTU,reviewed,Potamin-1 (PT-1) (Fragment),DICTNCCAGTKGCNTTSANGAFICEGQSDPKKPKACPLNCDPHIAYA,NaN,NaN,4113,Solanum tuberosum (Potato),"cellular organisms, Eukaryota, Viridiplantae, ...",...,FUNCTION: Inhibitor of serine proteases chymot...,GO:0004867; GO:0031640; GO:0050830; GO:0050832,serine-type endopeptidase inhibitor activity [...,NaN,serine-type endopeptidase inhibitor activity [...,15809084,IPR003465;,PF02428;,NaN,NaN

In [16]:
pin2_sequences.columns

Index(['UniprotID', 'EntryName', 'Status', 'ProteinNames', 'Sequence',
       'SignalPeptide', 'GeneNames', 'OrganismID', 'Organism',
       'TaxonomicLineage(ALL)', 'GeneOntology(biologicalprocess)', 'Length',
       'Mass', 'Function[CC]', 'GeneOntologyIDs', 'GeneOntology(GO)',
       'GeneOntology(cellularcomponent)', 'GeneOntology(molecularfunction)',
       'PubMedID', 'Cross-reference(InterPro)', 'Cross-reference(Pfam)',
       'Cross-reference(MEROPS)', 'Cross-reference(EMBL)'],
      dtype='object')

In [17]:
pin2_sequences=pin2_sequences[['UniprotID','Sequence','OrganismID','Organism']]

In [18]:
pin2_sequences.head(2)

,UniprotID,Sequence,OrganismID,Organism
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...
1,P84813,DICTNCCAGTKGCNTTSANGAFICEGQSDPKKPKACPLNCDPHIAYA,4113,Solanum tuberosum (Potato)

In [19]:
pin2_sequences.count()

UniprotID     452
Sequence      452
OrganismID    452
Organism      452
dtype: int64

In [21]:
# pin2_sequences.to_csv('data/14_PIN_II_sequences.csv',index=False)## Creating PIN II sequences file

In [22]:
domains=pd.read_csv('data/6_Domains.csv')

In [23]:
domains.columns

Index(['domainID', 'domain', 'variant'], dtype='object')

In [24]:
domains.domainID.count()

698

In [25]:
domains.head(2)

  domainID                                             domain  variant
0    IRD-1  QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...        1
1    IRD-2  QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...        1

### Finding the new PIN-II PI sequences

In [31]:
old_seq=pd.read_csv('data/PIN_II_sequences.csv')

In [32]:
old_seq.head(2)

,UniprotID,Sequence,OrganismID,Organism
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...
1,P84813,DICTNCCAGTKGCNTTSANGAFICEGQSDPKKPKACPLNCDPHIAYA,4113,Solanum tuberosum (Potato)

In [33]:
old_seq.Sequence.count()

415

In [44]:
old_seq.Sequence.isin(pin2_sequences.Sequence).sum()

414

In [46]:
old_seq.loc[~old_seq.Sequence.isin(pin2_sequences.Sequence),['UniprotID','Sequence']]

,UniprotID,Sequence
378,A0A2I4FPH4,MAKYMSFGLTVLLLVYGAILLGSINPQIKIFMIMSVKACPLYCLDVEYMTCQSSGEKKLNPSCNCCLAPKNCTVHLVDGTSIYCKGN

In [47]:
pin2_sequences.Sequence.count()

452

In [76]:
pin2_sequences.Sequence.isin(old_seq.Sequence).sum()

417

In [77]:
pin2_sequences.UniprotID.isin(old_seq.UniprotID).sum()

414

In [83]:
uniID_417=pin2_sequences.loc[pin2_sequences.Sequence.isin(old_seq.Sequence),['UniprotID']]

In [84]:
uniID_414=pin2_sequences.loc[pin2_sequences.UniprotID.isin(old_seq.UniprotID),['UniprotID']]

In [85]:
uniID_417.count()

UniprotID    417
dtype: int64

In [86]:
uniID_414.count()

UniprotID    414
dtype: int64

In [88]:
uniID_417.loc[~uniID_417.UniprotID.isin(uniID_414.UniprotID),].count()

UniprotID    3
dtype: int64

In [92]:
## These three UniprotID in new file have there sequences similar to some record in old file
## But there Uniprot IDs doesn't match

In [89]:
uniID_417.loc[~uniID_417.UniprotID.isin(uniID_414.UniprotID),]['UniprotID']

66     A0A6P6UW59
73     A0A6P6UNR4
248    A0A6J5TTZ0
Name: UniprotID, dtype: object

In [51]:
pin2_sequences.loc[~pin2_sequences.Sequence.isin(old_seq.Sequence),['UniprotID','Sequence']].count()

UniprotID    35
Sequence     35
dtype: int64

In [97]:
pin2_sequences.loc[~pin2_sequences.Sequence.isin(old_seq.Sequence),['UniprotID','Sequence','OrganismID','Organism']].head(2)

,UniprotID,Sequence,OrganismID,Organism
22,A0A6N2M3G1,MSSTTTNTSPTTNSTAINSNSKNGSNQDPGSYFIDVARQYSSPIGP...,40686,Salix viminalis (Common osier) (Basket willow)
23,A0A6N2LRF0,MSSTTTNTSPTTNSTAINSNSKNGSNQDPGSYFIDVARQYSSPIGP...,40686,Salix viminalis (Common osier) (Basket willow)

In [53]:
# pin2_sequences.loc[~pin2_sequences.Sequence.isin(old_seq.Sequence),['UniprotID','Sequence','OrganismID','Organism']].to_csv('data/New_PIN_II_sequences.csv',index=False)## Creating New PIN II sequences file

#### To find which of the 698 Domains are present in 452 PIN2 sequences imported from Uniprot we ran the Python Program DomainFinder.py, which gave the output file PINIR_SequencesDomains.csv which has 1309 records. Here we Analyse that file.

In [99]:
seq_dom=pd.read_csv('data/PINIR_SequencesDomains.csv',usecols=['UniprotID', 'Sequence', 'OrganismID', 'Organism',
       'DomainID', 'Domain', 'DomainStartPosition', 'DomainEndPosition'])

In [100]:
seq_dom.count()

UniprotID              1309
Sequence               1309
OrganismID             1309
Organism               1309
DomainID               1309
Domain                 1309
DomainStartPosition    1309
DomainEndPosition      1309
dtype: int64

In [102]:
# seq_dom.to_csv('data/15_Sequences_Domains.csv',index=False)

In [103]:
seq_dom.head()

,UniprotID,Sequence,OrganismID,Organism,DomainID,Domain,DomainStartPosition,DomainEndPosition
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-62,PICINCCSGYKGCNYYNSFGKFICEGESDPKRPNACTFNCDPNIAY...,49,100
1,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-405,NACTFNCDPNIAYSRCPRSQGKSLIYPTGCTTCCTGYKGCYYFGKD...,82,134
2,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-456,KACTRECGNLGFGICPRSEGSPLNPICINCCSGYKGCNYYNSFGKF...,25,74
3,P84813,DICTNCCAGTKGCNTTSANGAFICEGQSDPKKPKACPLNCDPHIAYA,4113,Solanum tuberosum (Potato),IRD-54,DICTNCCAGTKGCNTTSANGAFICEGQSDPKKPKACPLNCDPHIAYA,0,46
4,P01080,MDVHKEVNFVAYLLIVLGLLVLVSAMDVDAKACIRECGNLGFGICP...,4113,Solanum tuberosum (Potato),IRD-56,PICTNCCAGYKGCNYYSANGAFICEGQSDPKKPKACPLNCDPHIAY...,54,105

In [6]:
seq_dom=pd.read_csv('data/15_Sequences_Domains.csv')

In [7]:
seq_dom.head()

,UniprotID,Sequence,OrganismID,Organism,DomainID,Domain,DomainStartPosition,DomainEndPosition
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-62,PICINCCSGYKGCNYYNSFGKFICEGESDPKRPNACTFNCDPNIAY...,49,100
1,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-405,NACTFNCDPNIAYSRCPRSQGKSLIYPTGCTTCCTGYKGCYYFGKD...,82,134
2,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-456,KACTRECGNLGFGICPRSEGSPLNPICINCCSGYKGCNYYNSFGKF...,25,74
3,P84813,DICTNCCAGTKGCNTTSANGAFICEGQSDPKKPKACPLNCDPHIAYA,4113,Solanum tuberosum (Potato),IRD-54,DICTNCCAGTKGCNTTSANGAFICEGQSDPKKPKACPLNCDPHIAYA,0,46
4,P01080,MDVHKEVNFVAYLLIVLGLLVLVSAMDVDAKACIRECGNLGFGICP...,4113,Solanum tuberosum (Potato),IRD-56,PICTNCCAGYKGCNYYSANGAFICEGQSDPKKPKACPLNCDPHIAY...,54,105

In [8]:
seq_dom.OrganismID.nunique()

103

In [11]:
seq_dom.DomainID.nunique()## Total number of unique domains found in PI sequences

690

In [12]:
## Total No. of Domains:698
## Domains found atleast once insequences: 690
## Total No. of Domains not found even once: 698-690= 8
## Following are these 8 Domains

In [13]:
domains=pd.read_csv('data/6_Domains.csv')

In [14]:
domains.count()

domainID    698
domain      698
variant     698
dtype: int64

In [16]:
domains.domainID.isin(seq_dom.DomainID.unique()).sum()

690

In [17]:
filt=domains.domainID.isin(seq_dom.DomainID.unique())
domains.loc[~filt,:]

    domainID                                             domain  variant
234  IRD-235  PICTNCCAGFKGCNYYSAHGTFICEGQSDPRNPKACPRNCDPHIAY...        1
304  IRD-305  KACPLYCLDVEYMTCQSSGEKKLNPSCNCCLAPKNCTVHLVDGTSI...        2
325  IRD-326  KVCPQYCTQDAGYMTCPSSGNKQLNPPCNCCLAPKGCTVYHADGTA...        2
327  IRD-328   NACPQYCLDYAYMTCPSSGSQKLDPACNCCLAQGCTLYLADGTSTYCD        2
344  IRD-345    KMCLQVCDNEVAYMTCPSSGDEKISGVCVNCCTADEGCKLYRMAQNP        2
373  IRD-374   KPCPDICLDYAYMTCPSSGNQKLDPACNCCFAPGCTLYLPDGTSTYCN        2
422  IRD-423  KPCTKECGHLGFGICPRSQGSPQNPICTNCCAGFKGCNYYSAHGTF...        2
485  IRD-486  KACPRNCDPHIAYSKCPRSGGKTFIYPTGCTTCCTGYKGCYYFGKN...        2

In [18]:
## Saving these Domains in file 16_Domains_notFoundInSequences_8.csv

In [21]:
## domains.loc[~filt,:].to_csv('data/16_Domains_notFoundInSequences_8.csv',index=False)

In [22]:
seq_dom.UniprotID.nunique()## Total No. of Unique Uniprot Sequences in which domains found

387

In [23]:
## Total number of PI Sequences: 452
## Sequences in which Domains found: 387
## Total number of sequences in which NO Domains found: 452-387= 65
## Following are these 65 PI Sequences

In [24]:
pin2_sequences=pd.read_csv('data/14_PIN_II_sequences.csv')

In [25]:
pin2_sequences.count()

UniprotID     452
Sequence      452
OrganismID    452
Organism      452
dtype: int64

In [28]:
filt=pin2_sequences.UniprotID.isin(seq_dom.UniprotID.unique())
pin2_sequences.loc[~filt,:].count()

UniprotID     65
Sequence      65
OrganismID    65
Organism      65
dtype: int64

In [29]:
## Saving these PI Sequences in file 17_PIN_II_sequences_inWhichNoDomainsFound_65.csv

In [31]:
## pin2_sequences.loc[~filt,:].to_csv('data/17_PIN_II_sequences_inWhichNoDomainsFound_65.csv',index=False)

In [33]:
seq_dom.count()

UniprotID              1309
Sequence               1309
OrganismID             1309
Organism               1309
DomainID               1309
Domain                 1309
DomainStartPosition    1309
DomainEndPosition      1309
dtype: int64

### Adding Organism and Domain Details to 15_Sequences_Domains.csv file

In [34]:
seq_dom=pd.read_csv('data/15_Sequences_Domains.csv')

In [36]:
seq_dom.head(2)

,UniprotID,Sequence,OrganismID,Organism,DomainID,Domain,DomainStartPosition,DomainEndPosition
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-62,PICINCCSGYKGCNYYNSFGKFICEGESDPKRPNACTFNCDPNIAY...,49,100
1,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,IRD-405,NACTFNCDPNIAYSRCPRSQGKSLIYPTGCTTCCTGYKGCYYFGKD...,82,134

In [37]:
## Adding Organisms Details from Organisms.csv

In [38]:
organisms=pd.read_csv('data/5_Organisms.csv',usecols=['OrganismID','Genus','Species','Solanaceae'])

In [40]:
organisms.head(2)

   OrganismID       Genus                 Species  Solanaceae
0        3476  Parasponia  Parasponia andersonii            0
1        3562    Spinacia      Spinacia oleracea            0

In [41]:
seq_dom_organism=pd.merge(seq_dom,organisms,on='OrganismID',how='left')

In [42]:
seq_dom_organism.columns

Index(['UniprotID', 'Sequence', 'OrganismID', 'Organism', 'DomainID', 'Domain',
       'DomainStartPosition', 'DomainEndPosition', 'Genus', 'Species',
       'Solanaceae'],
      dtype='object')

In [43]:
seq_dom_organism=seq_dom_organism[['UniprotID', 'Sequence', 'OrganismID', 'Organism', 'Genus', 'Species',
       'Solanaceae', 'DomainID', 'Domain',
       'DomainStartPosition', 'DomainEndPosition']]

In [45]:
seq_dom_organism.head(1)

,UniprotID,Sequence,OrganismID,Organism,Genus,Species,Solanaceae,DomainID,Domain,DomainStartPosition,DomainEndPosition
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,Solanum,Solanum lycopersicum,1,IRD-62,PICINCCSGYKGCNYYNSFGKFICEGESDPKRPNACTFNCDPNIAY...,49,100

In [46]:
seq_dom_organism.count()

UniprotID              1309
Sequence               1309
OrganismID             1309
Organism               1309
Genus                  1309
Species                1309
Solanaceae             1309
DomainID               1309
Domain                 1309
DomainStartPosition    1309
DomainEndPosition      1309
dtype: int64

In [47]:
## Creating new Sequence_Domains_Organism File with Organism Information included

In [49]:
## seq_dom_organism.to_csv('data/18_Sequences_Domains_Organisms.csv',index=False)

In [50]:
## Adding Domains Details from 11_Domain_RCL_Linker.csv

In [51]:
seq_dom_organism=pd.read_csv('data/18_Sequences_Domains_Organisms.csv')

In [52]:
seq_dom_organism.head(1)

,UniprotID,Sequence,OrganismID,Organism,Genus,Species,Solanaceae,DomainID,Domain,DomainStartPosition,DomainEndPosition
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,Solanum,Solanum lycopersicum,1,IRD-62,PICINCCSGYKGCNYYNSFGKFICEGESDPKRPNACTFNCDPNIAY...,49,100

In [53]:
dom_rcl_linker=pd.read_csv('data/11_Domain_RCL_Linker.csv',usecols=['domainID','DomainType', 'RclID', 'RCL', 'P2Residue',
       'P1Residue', 'P1primeResidue', 'targetProtease', 'tpID',
       'RCL_startPosition', 'RCL_endPosition', 'linkerID', 'Linker',
       'LinkerType', 'Linker_startPosition', 'Linker_endPosition'])

In [54]:
dom_rcl_linker.columns

Index(['domainID', 'DomainType', 'RclID', 'RCL', 'P2Residue', 'P1Residue',
       'P1primeResidue', 'targetProtease', 'tpID', 'RCL_startPosition',
       'RCL_endPosition', 'linkerID', 'Linker', 'LinkerType',
       'Linker_startPosition', 'Linker_endPosition'],
      dtype='object')

In [55]:
dom_rcl_linker.rename(columns={'domainID':'DomainID'},inplace=True)

In [56]:
dom_rcl_linker.head(2)

,DomainID,DomainType,RclID,RCL,P2Residue,P1Residue,P1primeResidue,targetProtease,tpID,RCL_startPosition,RCL_endPosition,linkerID,Linker,LinkerType,Linker_startPosition,Linker_endPosition
0,IRD-1,3.0,RL-1,CPRNC,P,R,N,Trypsin,TP-1,41,45,NaN,NaN,NaN,NaN,NaN
1,IRD-2,3.0,RL-1,CPRNC,P,R,N,Trypsin,TP-1,40,44,NaN,NaN,NaN,NaN,NaN

In [57]:
seq_dom_rcl_linker_organism=pd.merge(seq_dom_organism,dom_rcl_linker,on='DomainID',how='left')

In [58]:
seq_dom_rcl_linker_organism.head(2)

,UniprotID,Sequence,OrganismID,Organism,Genus,Species,Solanaceae,DomainID,Domain,DomainStartPosition,...,P1primeResidue,targetProtease,tpID,RCL_startPosition,RCL_endPosition,linkerID,Linker,LinkerType,Linker_startPosition,Linker_endPosition
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,Solanum,Solanum lycopersicum,1,IRD-62,PICINCCSGYKGCNYYNSFGKFICEGESDPKRPNACTFNCDPNIAY...,49,...,N,Chymotrypsin,TP-2,35.0,39.0,L-21,DPKRP,1.0,28.0,32.0
1,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,Solanum,Solanum lycopersicum,1,IRD-405,NACTFNCDPNIAYSRCPRSQGKSLIYPTGCTTCCTGYKGCYYFGKD...,82,...,N,Chymotrypsin,TP-2,2.0,6.0,NaN,NaN,NaN,NaN,NaN

In [59]:
seq_dom_rcl_linker_organism.UniprotID.count()

1309

In [60]:
seq_dom_rcl_linker_organism.columns

Index(['UniprotID', 'Sequence', 'OrganismID', 'Organism', 'Genus', 'Species',
       'Solanaceae', 'DomainID', 'Domain', 'DomainStartPosition',
       'DomainEndPosition', 'DomainType', 'RclID', 'RCL', 'P2Residue',
       'P1Residue', 'P1primeResidue', 'targetProtease', 'tpID',
       'RCL_startPosition', 'RCL_endPosition', 'linkerID', 'Linker',
       'LinkerType', 'Linker_startPosition', 'Linker_endPosition'],
      dtype='object')

In [61]:
## Creating new Sequence_Domains_RCL_Linker_Organism File with Organism,Doamin,RCL,LinkervInformation included

In [63]:
## seq_dom_rcl_linker_organism.to_csv('data/19_Sequences_Domains_RCL_Linker_Organisms.csv',index=False)

In [64]:
seq_dom_rcl_linker_organism.RclID.isna().sum()

3

In [65]:
seq_dom_rcl_linker_organism.loc[seq_dom_rcl_linker_organism.RclID.isna(),:]

,UniprotID,Sequence,OrganismID,Organism,Genus,Species,Solanaceae,DomainID,Domain,DomainStartPosition,...,P1primeResidue,targetProtease,tpID,RCL_startPosition,RCL_endPosition,linkerID,Linker,LinkerType,Linker_startPosition,Linker_endPosition
50,A0A3Q7IU74,MVGFSWITSPAATELEMIALDWLGKALKLPDRFISTGEENTFPYST...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,Solanum,Solanum lycopersicum,1,IRD-71,GICTNCCAGKKRCNYFSADGTFICEGESKFVSEADNNHGKPCPRIA...,173,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,A0A097J9C0,PKEVSFLAFLLVLEILLLHVDAKACSEENAENHICTNCCAGRKGCN...,4072,Capsicum annuum (Capsicum pepper),Capsicum,Capsicum annuum,1,IRD-148,RLCTNCCAGRKGCNYYSADGTFICEGESDPNNPKACPRNRDPNIAY...,148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1221,A0A2P5EHN1,MAATNKLSVILPLLVIAATLVALQPENVAGKVCPQLCLGAEYMTCG...,63057,Trema orientale (Charcoal tree) (Celtis orient...,Trema,Trema orientale,0,IRD-688,KVCPQLCLGAEYMTCGSSDERLNPSCNCCLAPQGCTLYFSDGTSQYCA,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN