# PINIR Data Prepocessing - Page1

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [3]:
pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows')

In [4]:
pd.set_option('display.max_colwidth',2000)

In [5]:
pd.reset_option('display.max_colwidth')

In [6]:
uniprot=pd.read_excel('data/uniprot-18May2021.xlsx',index_col='Entry')

c:\users\nikhilesh\appdata\local\programs\python\python39\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [7]:
uniprot.head(2)

,Entry name,Status,Protein names,Gene names,Organism,Cross-reference (EMBL),Length,Mass,Organism ID,Taxonomic lineage (ALL),...,Transmembrane,Disulfide bond,PubMed ID,Mapped PubMed ID,Taxonomic lineage IDs,Taxonomic lineage (all),Cross-reference (InterPro),Cross-reference (Pfam),Cross-reference (MEROPS),Signal peptide
Entry,,,,,,,,,,,,,,,,,,,,,
P05119,IP21_SOLLC,reviewed,Wound-induced proteinase inhibitor 2 (Wound-in...,NaN,Solanum lycopersicum (Tomato) (Lycopersicon es...,K03291;,148,"16,293",4081,"cellular organisms, Eukaryota, Viridiplantae, ...",...,NaN,DISULFID 28..116; DISULFID 32..112; DISULFID 4...,3838986; 12684499,3838986; 12684499; 12788916,4081,"cellular organisms, Eukaryota, Viridiplantae, ...",IPR003465;,PF02428;,I20.003;,SIGNAL 1..25
P84813,POTM1_SOLTU,reviewed,Potamin-1 (PT-1) (Fragment),NaN,Solanum tuberosum (Potato),NaN,47,"4,833",4113,"cellular organisms, Eukaryota, Viridiplantae, ...",...,NaN,"DISULFID 3..40; /evidence=""ECO:0000250|UniPro...",15809084,NaN,4113,"cellular organisms, Eukaryota, Viridiplantae, ...",IPR003465;,PF02428;,NaN,NaN

In [8]:
uniprot.shape

(452, 33)

In [9]:
uniprot.columns

Index(['Entry name', 'Status', 'Protein names', 'Gene names', 'Organism',
       'Cross-reference (EMBL)', 'Length', 'Mass', 'Organism ID',
       'Taxonomic lineage (ALL)', 'Sequence', 'Function [CC]', 'Features',
       'Keyword ID', 'Keywords', 'Protein existence', 'Induction',
       'Developmental stage', 'Gene ontology (biological process)',
       'Gene ontology IDs', 'Gene ontology (GO)',
       'Gene ontology (cellular component)',
       'Gene ontology (molecular function)', 'Transmembrane', 'Disulfide bond',
       'PubMed ID', 'Mapped PubMed ID', 'Taxonomic lineage IDs',
       'Taxonomic lineage (all)', 'Cross-reference (InterPro)',
       'Cross-reference (Pfam)', 'Cross-reference (MEROPS)', 'Signal peptide'],
      dtype='object')

In [10]:
uniprot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 452 entries, P05119 to A0A0D9VYN1
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Entry name                          452 non-null    object
 1   Status                              452 non-null    object
 2   Protein names                       452 non-null    object
 3   Gene names                          301 non-null    object
 4   Organism                            452 non-null    object
 5   Cross-reference (EMBL)              355 non-null    object
 6   Length                              452 non-null    int64
 7   Mass                                452 non-null    object
 8   Organism ID                         452 non-null    int64
 9   Taxonomic lineage (ALL)             452 non-null    object
 10  Sequence                            452 non-null    object
 11  Function [CC]                       6 non-null      object
 12  Features                            402 non-null    object
 13  Keyword ID                          451 non-null    object
 14  Keywords                            451 non-null    object
 15  Protein existence                   452 non-null    object
 16  Induction                           6 non-null      object
 17  Developmental stage                 0 non-null      float64
 18  Gene ontology (biological process)  15 non-null     object
 19  Gene ontology IDs                   452 non-null    object
 20  Gene ontology (GO)                  452 non-null    object
 21  Gene ontology (cellular component)  39 non-null     object
 22  Gene ontology (molecular function)  452 non-null    object
 23  Transmembrane                       34 non-null     object
 24  Disulfide bond                      18 non-null     object
 25  PubMed ID                           255 non-null    object
 26  Mapped PubMed ID                    3 non-null      object
 27  Taxonomic lineage IDs               452 non-null    int64
 28  Taxonomic lineage (all)             452 non-null    object
 29  Cross-reference (InterPro)          452 non-null    object
 30  Cross-reference (Pfam)              452 non-null    object
 31  Cross-reference (MEROPS)            55 non-null     object
 32  Signal peptide                      344 non-null    object
dtypes: float64(1), int64(3), object(29)
memory usage: 120.1+ KB

In [11]:
uniprot.count()

Entry name                            452
Status                                452
Protein names                         452
Gene names                            301
Organism                              452
Cross-reference (EMBL)                355
Length                                452
Mass                                  452
Organism ID                           452
Taxonomic lineage (ALL)               452
Sequence                              452
Function [CC]                           6
Features                              402
Keyword ID                            451
Keywords                              451
Protein existence                     452
Induction                               6
Developmental stage                     0
Gene ontology (biological process)     15
Gene ontology IDs                     452
Gene ontology (GO)                    452
Gene ontology (cellular component)     39
Gene ontology (molecular function)    452
Transmembrane                          34
Disulfide bond                         18
PubMed ID                             255
Mapped PubMed ID                        3
Taxonomic lineage IDs                 452
Taxonomic lineage (all)               452
Cross-reference (InterPro)            452
Cross-reference (Pfam)                452
Cross-reference (MEROPS)               55
Signal peptide                        344
dtype: int64

## Extracting General features of PI from Uniprot Data

In [12]:
pi_general_features=uniprot[['Entry name','Status','Protein names','Sequence','Signal peptide','Gene names','Organism ID','Taxonomic lineage IDs',
       'Organism','Taxonomic lineage (ALL)','Gene ontology (biological process)','Length','Mass','Function [CC]','Gene ontology IDs', 'Gene ontology (GO)','Gene ontology (cellular component)',
       'Gene ontology (molecular function)','PubMed ID','Cross-reference (InterPro)','Cross-reference (Pfam)',
                            'Cross-reference (MEROPS)','Cross-reference (EMBL)']]

In [13]:
pi_general_features.head(2)

,Entry name,Status,Protein names,Sequence,Signal peptide,Gene names,Organism ID,Taxonomic lineage IDs,Organism,Taxonomic lineage (ALL),...,Function [CC],Gene ontology IDs,Gene ontology (GO),Gene ontology (cellular component),Gene ontology (molecular function),PubMed ID,Cross-reference (InterPro),Cross-reference (Pfam),Cross-reference (MEROPS),Cross-reference (EMBL)
Entry,,,,,,,,,,,,,,,,,,,,,
P05119,IP21_SOLLC,reviewed,Wound-induced proteinase inhibitor 2 (Wound-in...,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,SIGNAL 1..25,NaN,4081,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,"cellular organisms, Eukaryota, Viridiplantae, ...",...,FUNCTION: Potent inhibitor of both trypsin and...,GO:0004867; GO:0005576,extracellular region [GO:0005576]; serine-type...,extracellular region [GO:0005576],serine-type endopeptidase inhibitor activity [...,3838986; 12684499,IPR003465;,PF02428;,I20.003;,K03291;
P84813,POTM1_SOLTU,reviewed,Potamin-1 (PT-1) (Fragment),DICTNCCAGTKGCNTTSANGAFICEGQSDPKKPKACPLNCDPHIAYA,NaN,NaN,4113,4113,Solanum tuberosum (Potato),"cellular organisms, Eukaryota, Viridiplantae, ...",...,FUNCTION: Inhibitor of serine proteases chymot...,GO:0004867; GO:0031640; GO:0050830; GO:0050832,serine-type endopeptidase inhibitor activity [...,NaN,serine-type endopeptidase inhibitor activity [...,15809084,IPR003465;,PF02428;,NaN,NaN

In [14]:
filt=~(pi_general_features['Organism ID']==pi_general_features['Taxonomic lineage IDs'])

In [15]:
pi_general_features[filt]

Empty DataFrame
Columns: [Entry name, Status, Protein names, Sequence, Signal peptide, Gene names, Organism ID, Taxonomic lineage IDs, Organism, Taxonomic lineage (ALL), Gene ontology (biological process), Length, Mass, Function [CC], Gene ontology IDs, Gene ontology (GO), Gene ontology (cellular component), Gene ontology (molecular function), PubMed ID, Cross-reference (InterPro), Cross-reference (Pfam), Cross-reference (MEROPS), Cross-reference (EMBL)]
Index: []

[0 rows x 23 columns]

In [16]:
## That means Organism ID and Taxonomic lineage IDs are same so we can drop one

In [17]:
pi_general_features.drop(columns='Taxonomic lineage IDs',inplace=True)

c:\users\nikhilesh\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
pi_general_features.columns

Index(['Entry name', 'Status', 'Protein names', 'Sequence', 'Signal peptide',
       'Gene names', 'Organism ID', 'Organism', 'Taxonomic lineage (ALL)',
       'Gene ontology (biological process)', 'Length', 'Mass', 'Function [CC]',
       'Gene ontology IDs', 'Gene ontology (GO)',
       'Gene ontology (cellular component)',
       'Gene ontology (molecular function)', 'PubMed ID',
       'Cross-reference (InterPro)', 'Cross-reference (Pfam)',
       'Cross-reference (MEROPS)', 'Cross-reference (EMBL)'],
      dtype='object')

In [19]:
## Making a new CSV file 1_pi_general_features.csv

In [37]:
#pi_general_features.to_csv('data/1_pi_general_features.csv')

In [38]:
pi_general_features=pd.read_csv('data/1_pi_general_features.csv')

In [42]:
pi_general_features.columns

In [ ]:
## Renaming Column 'Entry' and removing space between column names

In [ ]:
pi_general_features.rename(columns={'Entry':'UniprotID'},inplace=True)

In [ ]:
pi_general_features.columns=pi_general_features.columns.str.replace(' ','')

In [ ]:
pi_general_features.columns

In [44]:
#pi_general_features.to_csv('data/1_pi_general_features.csv',index=False)

In [45]:
pi_gf=pd.read_csv('data/1_pi_general_features.csv',usecols=['UniprotID','Sequence','OrganismID','Organism','GeneNames','Length','Mass'])

In [46]:
pi_gf.head()

,UniprotID,Sequence,GeneNames,OrganismID,Organism,Length,Mass
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,NaN,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,148,"16,293"
1,P84813,DICTNCCAGTKGCNTTSANGAFICEGQSDPKKPKACPLNCDPHIAYA,NaN,4113,Solanum tuberosum (Potato),47,"4,833"
2,P01080,MDVHKEVNFVAYLLIVLGLLVLVSAMDVDAKACIRECGNLGFGICP...,PIN2K,4113,Solanum tuberosum (Potato),153,"16,505"
3,P83241,KACPRNCDTDIAYMVCPSSGERIIRKVCTNCCAAQKGCKLFRSNGS...,NaN,4072,Capsicum annuum (Capsicum pepper),52,"5,604"
4,P01078,QICTNCCAGRKGCSYFSEDGTFICKGESNPENPKACPRNCDGRIAY...,NaN,4111,Solanum melongena (Eggplant) (Aubergine),52,"5,579"

In [47]:
pi_gf.count()

UniprotID     452
Sequence      452
GeneNames     301
OrganismID    452
Organism      452
Length        452
Mass          452
dtype: int64

In [48]:
pi_gf.UniprotID.nunique()

452

In [49]:
pi_gf.Sequence.nunique() ## That is there are some duplicate

422

In [50]:
pi_gf.Sequence.duplicated().sum() ## Leaving one of each of the duplicated one

30

In [51]:
pi_gf.Sequence.duplicated(keep=False).sum()

51

### Total Duplicated Sequences: 51-30= 21

In [52]:
pi_gf.Sequence.value_counts().head(30)

MASIKLALPMALLLCGLMVIGSIQSAEAQGGKFCPQFCYDGLEYMTCPSTGSQHLKPACNCCIAGEKGCVLYLNNGQVINCT                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        8
MATCRFHIACAPLLVCVMLLGKNQEGMEAVACHQYCLEVDYITCPSSGSEKLPARCNCCMAGKGCTLHLSGGINQTCN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            3
MATSRLHIACALLLAGVVLLGQNQEGMEAVACPQYCLEVDYITCPSSGSQKLPARCNCCMAPKGCTLHLSDGINQTCS                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            3
MASSKVGVLTLLLLCVLLVGSNYVESADAKICPQFCEPNIGYMTCPSTGHKKLYPKCINCCKAGKGCKLYRKNGSLRCTGT                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         3
MAGTKVGVITLLLCATILLGLKPEHASAKVCPFFCYAEVAYMTCPPAPYKKLGPVCNCCLAKPGCKLFRADGTVICTAS                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           2
MAVHKVSFVAHLLVLGMFLLLVDAKACTKECGNFAYGICPRSQGTPDDPICTTCCAGYKGCNYYSANGTFICEGSSDPKNPNVCPQFCDPDIAYSKCPRSEGETIINPTGCTTCCTGYKGCYYFGQDGEFVCEGESDEPKSCTTECDPRVATISCPFSGLVKINQECINCCNADKGCELYDNDGSLICTGGEPQSAA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     2
MAFYKASILSLLLLSGIFLLGIGEVKYVNAKSCLQFCDNEVAYMTCPSSGDEQISPVCVNCCTADEGCKLFRTDGSLICTGTQD                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2
MAFCKVGILSLLLVSGIFLLGIEVEFGNAQKMCIQVCDPEVASMTCPSSGDEKINDVCVNCCTAAVGCKLFRSDGSLICTGTLE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2
MAISRINGVMAILLCGMILLSSNVEVKVVEACPQYCLDVEYMTCGNSETKLPPRCNCCLAPKGCTLHLADGTSQYCS                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             2
MAVHKEVSFLGYLLVLGIFLHHVDGKACTRECGNLGYGICPRSEGSAEEPICTNCCAGYKGCKYYSADGTFICEGESDPKNPKGCPRNCDPRIAYSKCPRSQGETLIYPTGCTTCCTGYKGCYYFGKDGKFLCEGESTEPKACTLECDPRVAYMTCPSTGLAKIKDVCVNCCTAGEGCKLYGHNGSLLCTGESQSISTA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   2
MAFCKVGILSLLLLSGIFLLGIEVEYGNAQKMCLQVCDPEVAYMTCPSSGDEKMSDVCVNCCTAAVGCKLFRSDGSFICTGTPE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2
MATFRLHISCALLLAGVVLLGTNQGGMEAMACPQYCLEVDYITCPSSGSQKLPARCNCCMAPKGCTLHLPDGINQTCS                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            2
MAIHKVGFLALLLLFGTHVLGSKMATAAEEEKSCPRDCISDAAYMVCPTRHGRHKLIESYCDNCCTLPENCKLFKENGDLICTGTDY                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   2
MATYKIWLMSLMITGAILADVIPGVTITKTAIACPLYCLEVEYMTCPSSGDEKLPPRCNCCLAPKDCTLHLSGSTSIHCTK                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         2
MAISKIGILSLLLFSVVILLGISNMEKVEGKICPQICFDAAAYMMCPSSGTQKLAPTCNCCLAPQGCSLYYADRTLICTST                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         2
MAADKNIGAMVLLLVCGSILLLAINPTEAKVCNKICYGAAAYMTCPSSGSTQLDPVCNCCLAPALGCTLYESDGTPICTST                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         2
MATIKLALPVALLLCGLMVIGCSVQSAEAKPGRMCAMYCLDAKYMTCPPKDTEQLPPACNCCVAEKRGCTIYLSNGGVEKCP                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        2
MATYKIWLMSLMITGAILADVIPGVTITKTAIACPLYCLEVEYMTCPSSGDEKLPPRCNCCLAPKNCTLHLSGSTSIHCTK                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         2
MVIGCSIQSAEAKPGRVCAMYCLNGTYMTCPPKDPEKLPPACNCCLAKKRGCTIYLSDGGAVSGEMPMESLIMKSKSKNEIDSCCLARTA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                2
MAVHKEVNFVAYLLIVLGLLVLVSAMEHVDAKACTLECGNLGFGICPRSEGSPENRICTNCCAGYKGCNYYSANGAFICEGESDPKKPKACPRNCDPHIAYSKCPRSEGKSLIYPTGCTTCCTGYKGCYYFGKNGKFVCEGESDEPKANMYPAM                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                2

### Above result shows out of 21: 1 sequence occur 8 times; 3 sequence occur 3 times; and 17 sequence occur 2 time

In [ ]:
## Listing all the Duplicated Sequence usually the difference is in Organism or
## Gene Names. Saving the records in a new file 2_DuplicateSequenceRecordsInUniprotData_51.csv

In [53]:
pi_gf.loc[pi_gf.Sequence.duplicated(keep=False),['UniprotID','Sequence','OrganismID','Organism','GeneNames']].sort_values('Sequence')

,UniprotID,Sequence,OrganismID,Organism,GeneNames
38,M5XPI6,MAADKNIGAMVLLLVCGSILLLAINPTEAKVCNKICYGAAAYMTCP...,3760,Prunus persica (Peach) (Amygdalus persica),PRUPE_1G552600 PRUPE_ppa017948mg
248,A0A6J5TTZ0,MAADKNIGAMVLLLVCGSILLLAINPTEAKVCNKICYGAAAYMTCP...,36596,Prunus armeniaca (Apricot) (Armeniaca vulgaris),CURHAP_LOCUS10213
445,A0A2G3C7I2,MAFCKVGILSLLLLSGIFLLGIEVEYGNAQKMCLQVCDPEVAYMTC...,80379,Capsicum chinense (Scotch bonnet) (Bonnet pepper),BC332_15893
362,A0A1U8HFR9,MAFCKVGILSLLLLSGIFLLGIEVEYGNAQKMCLQVCDPEVAYMTC...,4072,Capsicum annuum (Capsicum pepper),LOC107879784
408,A0A2G2ZAE0,MAFCKVGILSLLLVSGIFLLGIEVEFGNAQKMCIQVCDPEVASMTC...,4072,Capsicum annuum (Capsicum pepper),LOC107879783
387,A0A1U8HFS2,MAFCKVGILSLLLVSGIFLLGIEVEFGNAQKMCIQVCDPEVASMTC...,4072,Capsicum annuum (Capsicum pepper),T459_17035
171,A0A1S3YL26,MAFYKASILSLLLLSGIFLLGIGEVKYVNAKSCLQFCDNEVAYMTC...,4097,Nicotiana tabacum (Common tobacco),LOC107777263
37,A0A1U7YPZ0,MAFYKASILSLLLLSGIFLLGIGEVKYVNAKSCLQFCDNEVAYMTC...,4096,Nicotiana sylvestris (Wood tobacco) (South Ame...,LOC104246736 LOC104234561
320,A0A068VJU5,MAGTKVGVITLLLCATILLGLKPEHASAKVCPFFCYAEVAYMTCPP...,49390,Coffea canephora (Robusta coffee),GSCOC_T00005697001
73,A0A6P6UNR4,MAGTKVGVITLLLCATILLGLKPEHASAKVCPFFCYAEVAYMTCPP...,13443,Coffea arabica (Arabian coffee),LOC113712766
313,A0A1S3ZJX9,MAIHKVGFLALLLLFGTHVLGSKMATAAEEEKSCPRDCISDAAYMV...,4097,Nicotiana tabacum (Common tobacco),LOC107787467
107,A0A1U7XKN6,MAIHKVGFLALLLLFGTHVLGSKMATAAEEEKSCPRDCISDAAYMV...,4096,Nicotiana sylvestris (Wood tobacco) (South Ame...,LOC104235076
446,A0A2G3C8B9,MAISKIGILSLLLFSVVILLGISNMEKVEGKICPQICFDAAAYMMC...,80379,Capsicum chinense (Scotch bonnet) (Bonnet pepper),BC332_16137
251,A0A2G2WK98,MAISKIGILSLLLFSVVILLGISNMEKVEGKICPQICFDAAAYMMC...,33114,Capsicum baccatum (Peruvian pepper),CQW23_14824
66,A0A6P6UW59,MAISRINGVMAILLCGMILLSSNVEVKVVEACPQYCLDVEYMTCGN...,13443,Coffea arabica (Arabian coffee),LOC113714895
317,A0A068UQ46,MAISRINGVMAILLCGMILLSSNVEVKVVEACPQYCLDVEYMTCGN...,49390,Coffea canephora (Robusta coffee),GSCOC_T00031441001
139,A2XLR0,MASIKLALPMALLLCGLMVIGSIQSAEAQGGKFCPQFCYDGLEYMT...,39946,Oryza sativa subsp. indica (Rice),OsI_13414
185,A0A0E0GTG1,MASIKLALPMALLLCGLMVIGSIQSAEAQGGKFCPQFCYDGLEYMT...,4536,Oryza nivara (Indian wild rice) (Oryza sativa ...,NaN
157,A3AMF1,MASIKLALPMALLLCGLMVIGSIQSAEAQGGKFCPQFCYDGLEYMT...,39947,Oryza sativa subsp. japonica (Rice),OSJNBa0027J18.15 Os03g0734300 OsJ_12473
156,Q6AVT6,MASIKLALPMALLLCGLMVIGSIQSAEAQGGKFCPQFCYDGLEYMT...,39947,Oryza sativa subsp. japonica (Rice),LOC_Os03g52390 Os03g0734300 OSNPB_030734300
450,A0A0D9ZCR1,MASIKLALPMALLLCGLMVIGSIQSAEAQGGKFCPQFCYDGLEYMT...,40148,Oryza glumipatula,NaN
67,A0A0E0P0X3,MASIKLALPMALLLCGLMVIGSIQSAEAQGGKFCPQFCYDGLEYMT...,4529,Oryza rufipogon (Brownbeard rice) (Asian wild ...,NaN
55,A0A0D3FNQ1,MASIKLALPMALLLCGLMVIGSIQSAEAQGGKFCPQFCYDGLEYMT...,65489,Oryza barthii,NaN
63,I1PF65,MASIKLALPMALLLCGLMVIGSIQSAEAQGGKFCPQFCYDGLEYMT...,4538,Oryza glaberrima (African rice),NaN
256,A0A2G2WDG3,MASSKVGVLTLLLLCVLLVGSNYVESADAKICPQFCEPNIGYMTCP...,33114,Capsicum baccatum (Peruvian pepper),CQW23_17310
401,A0A1U8H7N7,MASSKVGVLTLLLLCVLLVGSNYVESADAKICPQFCEPNIGYMTCP...,4072,Capsicum annuum (Capsicum pepper),T459_20080
343,A0A2G2Z3H2,MASSKVGVLTLLLLCVLLVGSNYVESADAKICPQFCEPNIGYMTCP...,4072,Capsicum annuum (Capsicum pepper),LOC107877299
159,R7WBW6,MATCRFHIACAPLLVCVMLLGKNQEGMEAVACHQYCLEVDYITCPS...,37682,Aegilops tauschii (Tausch's goatgrass) (Aegilo...,F775_03746
318,A0A453ELF2,MATCRFHIACAPLLVCVMLLGKNQEGMEAVACHQYCLEVDYITCPS...,200361,Aegilops tauschii subsp. strangulata (Goatgrass),NaN
243,A0A3B6GR13,MATCRFHIACAPLLVCVMLLGKNQEGMEAVACHQYCLEVDYITCPS...,4565,Triticum aestivum (Wheat),NaN
235,A0A3B5Z5G1,MATFRLHISCALLLAGVVLLGTNQGGMEAMACPQYCLEVDYITCPS...,4565,Triticum aestivum (Wheat),NaN
40,A0A446KEB4,MATFRLHISCALLLAGVVLLGTNQGGMEAMACPQYCLEVDYITCPS...,4567,Triticum turgidum subsp. durum (Durum wheat) (...,TRITD_1Bv1G223970
161,A0A3L6S7X6,MATIKLALPVALLLCGLMVIGCSVQSAEAKPGRMCAMYCLDAKYMT...,4540,Panicum miliaceum (Proso millet) (Broomcorn mi...,C2845_PM02G04370
41,A0A2T7C1D4,MATIKLALPVALLLCGLMVIGCSVQSAEAKPGRMCAMYCLDAKYMT...,1504633,Panicum hallii var. hallii,GQ55_9G096400
225,M7ZEF2,MATSRLHIACALLLAGVVLLGQNQEGMEAVACPQYCLEVDYITCPS...,4572,Triticum urartu (Red wild einkorn) (Crithodium...,TRIUR3_07765
64,A0A453A379,MATSRLHIACALLLAGVVLLGQNQEGMEAVACPQYCLEVDYITCPS...,200361,Aegilops tauschii subsp. strangulata (Goatgrass),NaN
29,W5ADU4,MATSRLHIACALLLAGVVLLGQNQEGMEAVACPQYCLEVDYITCPS...,4565,Triticum aestivum (Wheat),NaN
30,A0A398AAP9,MATYKIWLMSLMITGAILADVIPGVTITKTAIACPLYCLEVEYMTC...,3711,Brassica campestris (Field mustard),BRAA02T06812Z BRARA_B01996
56,M4CUW0,MATYKIWLMSLMITGAILADVIPGVTITKTAIACPLYCLEVEYMTC...,51351,Brassica rapa subsp. pekinensis (Chinese cabba...,NaN
269,A0A0D3APY5,MATYKIWLMSLMITGAILADVIPGVTITKTAIACPLYCLEVEYMTC...,109376,Brassica oleracea var. oleracea,106326242
59,A0A3P6DUN5,MATYKIWLMSLMITGAILADVIPGVTITKTAIACPLYCLEVEYMTC...,3712,Brassica oleracea (Wild cabbage),BOLC2T08986H
12,Q41488,MAVHKEVNFVAYLLIVLGLLVLVSAMEHVDAKACTLECGNLGFGIC...,4113,Solanum tuberosum (Potato),NaN
265,A0A097H1D6,MAVHKEVNFVAYLLIVLGLLVLVSAMEHVDAKACTLECGNLGFGIC...,4113,Solanum tuberosum (Potato),PIN-II
27,Q6H3X6,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,NaN
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,NaN
395,A0A1U8FXN6,MAVHKEVSFLGYLLVLGIFLHHVDGKACTRECGNLGYGICPRSEGS...,4072,Capsicum annuum (Capsicum pepper),LOC107862771
357,A0A097J9C9,MAVHKEVSFLGYLLVLGIFLHHVDGKACTRECGNLGYGICPRSEGS...,4072,Capsicum annuum (Capsicum pepper),PI-69
228,A0A075EZT7,MAVHKVSFVAHLLVLGMFLLLVDAKACTKECGNFAYGICPRSQGTP...,4097,Nicotiana tabacum (Common tobacco),cevi57 LOC107816122
9,Q40561,MAVHKVSFVAHLLVLGMFLLLVDAKACTKECGNFAYGICPRSQGTP...,4097,Nicotiana tabacum (Common tobacco),NaN
85,A0A368SF18,MVIGCSIQSAEAKPGRVCAMYCLNGTYMTCPPKDPEKLPPACNCCL...,4555,Setaria italica (Foxtail millet) (Panicum ital...,SETIT_9G103700v2
196,A0A4U6SRV0,MVIGCSIQSAEAKPGRVCAMYCLNGTYMTCPPKDPEKLPPACNCCL...,4556,Setaria viridis (Green bristlegrass) (Setaria ...,SEVIR_9G101550v2

In [ ]:
## pi_gf.loc[pi_gf.Sequence.duplicated(keep=False),['UniprotID','Sequence','OrganismID','Organism','GeneNames']].sort_values('Sequence').to_csv('data/2_DuplicateSequenceRecordsInUniprotData_51.csv',index=False)

In [ ]:
## However these 2 records have same Sequence,Organism and Gene Name

In [54]:
filt=(pi_gf.duplicated(['Sequence','OrganismID','GeneNames'], keep=False))

In [55]:
filt.sum()

2

In [56]:
pi_gf.loc[filt,]

,UniprotID,Sequence,GeneNames,OrganismID,Organism,Length,Mass
0,P05119,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,NaN,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,148,"16,293"
27,Q6H3X6,MAVHKEVNFVAYLLIVLGMFLYVDAKACTRECGNLGFGICPRSEGS...,NaN,4081,Solanum lycopersicum (Tomato) (Lycopersicon es...,148,"16,293"

In [57]:
uniprot.index.isin(['P05119','Q6H3X6']).sum()

2

In [58]:
uniprot.loc[uniprot.index.isin(['P05119','Q6H3X6']),:]

,Entry name,Status,Protein names,Gene names,Organism,Cross-reference (EMBL),Length,Mass,Organism ID,Taxonomic lineage (ALL),...,Transmembrane,Disulfide bond,PubMed ID,Mapped PubMed ID,Taxonomic lineage IDs,Taxonomic lineage (all),Cross-reference (InterPro),Cross-reference (Pfam),Cross-reference (MEROPS),Signal peptide
Entry,,,,,,,,,,,,,,,,,,,,,
P05119,IP21_SOLLC,reviewed,Wound-induced proteinase inhibitor 2 (Wound-in...,NaN,Solanum lycopersicum (Tomato) (Lycopersicon es...,K03291;,148,"16,293",4081,"cellular organisms, Eukaryota, Viridiplantae, ...",...,NaN,DISULFID 28..116; DISULFID 32..112; DISULFID 4...,3838986; 12684499,3838986; 12684499; 12788916,4081,"cellular organisms, Eukaryota, Viridiplantae, ...",IPR003465;,PF02428;,I20.003;,SIGNAL 1..25
Q6H3X6,Q6H3X6_SOLLC,unreviewed,Protease inhibitor II (Proteinase inhibitor II),NaN,Solanum lycopersicum (Tomato) (Lycopersicon es...,AY007240;AY129402;AB110700;,148,"16,293",4081,"cellular organisms, Eukaryota, Viridiplantae, ...",...,NaN,NaN,15191748;,NaN,4081,"cellular organisms, Eukaryota, Viridiplantae, ...",IPR003465;,PF02428;,I20.003;,"SIGNAL 1..25; /evidence=""ECO:0000256|SAM:Sign..."

In [59]:
pi_gf.count()

UniprotID     452
Sequence      452
GeneNames     301
OrganismID    452
Organism      452
Length        452
Mass          452
dtype: int64

In [60]:
pi_gf.GeneNames.nunique()

265

## Preparing Organism Information

In [61]:
pi_gf.OrganismID.nunique()

125

In [62]:
pi_gf.Organism.nunique()

125

In [63]:
pi_gf.Organism.unique()

array(['Solanum lycopersicum (Tomato) (Lycopersicon esculentum)',
       'Solanum tuberosum (Potato)', 'Capsicum annuum (Capsicum pepper)',
       'Solanum melongena (Eggplant) (Aubergine)',
       'Nicotiana tabacum (Common tobacco)',
       'Camellia sinensis var. sinensis',
       'Daucus carota subsp. sativus (Carrot)',
       'Populus alba (White poplar)',
       'Lupinus angustifolius (Narrow-leaved blue lupine)',
       'Arabidopsis thaliana (Mouse-ear cress)',
       'Salix viminalis (Common osier) (Basket willow)',
       'Zea mays (Maize)', 'Ananas comosus (Pineapple) (Ananas ananas)',
       'Prunus yedoensis var. nudiflora', 'Triticum aestivum (Wheat)',
       'Brassica campestris (Field mustard)',
       'Solanum nigrum (Black nightshade)',
       'Lupinus albus (White lupine) (Lupinus termis)',
       'Brachypodium distachyon (Purple false brome) (Trachynia distachya)',
       'Nicotiana sylvestris (Wood tobacco) (South American tobacco)',
       'Prunus persica (Peach) (Amygdalus persica)',
       'Panicum hallii var. hallii',
       'Triticum turgidum subsp. durum (Durum wheat) (Triticum durum)',
       'Rosa chinensis (China rose)', 'Microthlaspi erraticum',
       'Mucuna pruriens (Velvet bean) (Dolichos pruriens)',
       'Genlisea aurea', 'Parasponia andersonii (Sponia andersonii)',
       'Morella rubra', 'Oryza barthii',
       'Brassica rapa subsp. pekinensis (Chinese cabbage) (Brassica pekinensis)',
       'Ricinus communis (Castor bean)', 'Nicotiana spegazzinii',
       'Brassica oleracea (Wild cabbage)',
       'Oryza meyeriana var. granulata',
       'Oryza glaberrima (African rice)',
       'Aegilops tauschii subsp. strangulata (Goatgrass)',
       'Atropa belladonna (Belladonna) (Deadly nightshade)',
       'Coffea arabica (Arabian coffee)',
       'Oryza rufipogon (Brownbeard rice) (Asian wild rice)',
       'Selaginella moellendorffii (Spikemoss)',
       'Prunus dulcis (Almond) (Amygdalus dulcis)', 'Nicotiana simulans',
       'Vitis vinifera (Grape)', 'Nicotiana umbratica',
       'Carpinus fangiana', 'Nicotiana linearis', 'Clostridia bacterium',
       'Setaria italica (Foxtail millet) (Panicum italicum)',
       'Solanum chilense (Tomato) (Lycopersicon chilense)',
       'Nicotiana attenuata (Coyote tobacco)', 'Nicotiana obtusifolia',
       'Apium graveolens (Celery)',
       'Nicotiana occidentalis subsp. hesperis',
       'Arachis hypogaea (Peanut)',
       'Hevea brasiliensis (Para rubber tree) (Siphonia brasiliensis)',
       'Eragrostis curvula (weeping love grass)', 'Nicotiana miersii',
       'Cuscuta campestris',
       'Manihot esculenta (Cassava) (Jatropha manihot)',
       'Nicotiana megalosiphon', 'Oryza meridionalis',
       'Populus trichocarpa (Western balsam poplar) (Populus balsamifera subsp. trichocarpa)',
       'Cicer arietinum (Chickpea) (Garbanzo)',
       'Brassica cretica (Mustard)',
       'Arabidopsis lyrata subsp. lyrata (Lyre-leaved rock-cress)',
       'Nicotiana pauciflora', 'Oryza sativa subsp. indica (Rice)',
       'Noccaea caerulescens (Alpine penny-cress) (Thlaspi caerulescens)',
       'Capsicum chinense (Scotch bonnet) (Bonnet pepper)',
       'Dorcoceras hygrometricum', 'Fagus sylvatica (Beechnut)',
       'Saccharum hybrid cultivar R570', 'Punica granatum (Pomegranate)',
       'Oryza sativa subsp. japonica (Rice)',
       'Raphanus sativus (Radish) (Raphanus raphanistrum var. sativus)',
       "Aegilops tauschii (Tausch's goatgrass) (Aegilops squarrosa)",
       'Nicotiana clevelandii (Wild tobacco)',
       'Panicum miliaceum (Proso millet) (Broomcorn millet)',
       'Nicotiana corymbosa', 'Eucalyptus grandis (Flooded gum)',
       'Solanum americanum (American black nightshade) (Solanum nodiflorum)',
       'Nicotiana alata (Winged tobacco) (Persian tobacco)',
       'Nicotiana acuminata (Acuminate tobacco)',
       'Oryza nivara (Indian wild rice) (Oryza sativa f. spontanea)',
       'Setaria viridis (Green bristlegrass) (Setaria italica subsp. viridis)',
       'Arachis duranensis (Wild peanut)',
       'Nicotiana glutinosa (Tobacco)', 'Cuscuta australis',
       'Olea europaea (Common olive)',
       'Triticum urartu (Red wild einkorn) (Crithodium urartu)',
       'Medicago truncatula (Barrel medic) (Medicago tribuloides)',
       'Nicotiana quadrivalvis', 'Solanum phureja',
       'Apostasia shenzhenica', 'Oryza punctata (Red rice)',
       'Jatropha curcas (Barbados nut)',
       'Sorghum bicolor (Sorghum) (Sorghum vulgare)',
       'Capsicum baccatum (Peruvian pepper)',
       'Spinacia oleracea (Spinach)', 'Handroanthus impetiginosus',
       'Prunus armeniaca (Apricot) (Armeniaca vulgaris)',
       'Solanum chacoense (Chaco potato)',
       'Brassica oleracea var. oleracea', 'Capsella rubella',
       'Erythranthe guttata (Yellow monkey flower) (Mimulus guttatus)',
       'Panicum hallii', 'Coffea canephora (Robusta coffee)',
       'Nicotiana rustica (Aztec tobacco)', 'Nicotiana benthamiana',
       'Nicotiana repanda', 'Salix brachista', 'Dendrobium catenatum',
       'Trema orientale (Charcoal tree) (Celtis orientalis)',
       'Ananas comosus var. bracteatus', 'Dichanthelium oligosanthes',
       'Musa balbisiana (Banana)', 'Nicotiana cavicola',
       'Oryza brachyantha', 'Salvia splendens (Scarlet sage)',
       'Durio zibethinus (Durian)', 'Morus notabilis',
       'Hordeum vulgare subsp. vulgare (Domesticated barley)',
       'Leersia perrieri', 'Oryza glumipatula'], dtype=object)

In [64]:
pi_gf.Organism.duplicated().sum()

327

In [65]:
pi_gf.loc[~pi_gf.Organism.duplicated(),['OrganismID','Organism']].count()

OrganismID    125
Organism      125
dtype: int64

### Extracting the List of Unique Organism in a new file 3_Organism_UsedInUniprotData_125.csv

In [66]:
pi_gf.loc[~pi_gf.Organism.duplicated(),['OrganismID','Organism']].sort_values('OrganismID')

     OrganismID                                           Organism
53         3476          Parasponia andersonii (Sponia andersonii)
239        3562                        Spinacia oleracea (Spinach)
122        3694  Populus trichocarpa (Western balsam poplar) (P...
20         3702             Arabidopsis thaliana (Mouse-ear cress)
30         3711                Brassica campestris (Field mustard)
..          ...                                                ...
39      1504633                         Panicum hallii var. hallii
46      1685480                             Microthlaspi erraticum
78      2044939                               Clostridia bacterium
28      2094558                    Prunus yedoensis var. nudiflora
332     2182728                                    Salix brachista

[125 rows x 2 columns]

In [ ]:
## pi_gf.loc[~pi_gf.Organism.duplicated(),['OrganismID','Organism']].sort_values('OrganismID').to_csv('data/3_Organism_UsedInUniprotData_125.csv',index=False)

#### Adding Solanaceae information

In [67]:
organism=pd.read_csv('data/Organisms.csv',usecols=('OrganismID','Solanaceae'))## From Old Organism file with Solanaceae info

In [68]:
organism.head(2)

   OrganismID  Solanaceae
0        3476           0
1        3562           0

In [69]:
organism.count()

OrganismID    109
Solanaceae    109
dtype: int64

In [70]:
organism.Solanaceae.value_counts()

0    76
1    33
Name: Solanaceae, dtype: int64

In [71]:
uniprot_organism=pd.read_csv('data/3_Organism_UsedInUniprotData_125.csv')

In [72]:
uniprot_organism.count()

OrganismID    125
Organism      125
dtype: int64

In [73]:
pd.merge(uniprot_organism,organism,on='OrganismID',how='left')## Creating new Organism File with Solanaceae information

     OrganismID                                           Organism  Solanaceae
0          3476          Parasponia andersonii (Sponia andersonii)         0.0
1          3562                        Spinacia oleracea (Spinach)         0.0
2          3694  Populus trichocarpa (Western balsam poplar) (P...         0.0
3          3702             Arabidopsis thaliana (Mouse-ear cress)         0.0
4          3711                Brassica campestris (Field mustard)         0.0
..          ...                                                ...         ...
120     1504633                         Panicum hallii var. hallii         0.0
121     1685480                             Microthlaspi erraticum         NaN
122     2044939                               Clostridia bacterium         NaN
123     2094558                    Prunus yedoensis var. nudiflora         0.0
124     2182728                                    Salix brachista         NaN

[125 rows x 3 columns]

In [ ]:
# pd.merge(uniprot_organism,organism,on='OrganismID',how='left').to_csv('data/4_OrganismsWithSolanaceaeInfo.csv',index=False)

In [74]:
organism=pd.read_csv('data/4_OrganismsWithSolanaceaeInfo.csv')## Reading from new updated Organism file

In [75]:
organism.count()

OrganismID    125
Organism      125
Solanaceae    125
dtype: int64

In [76]:
organism.Solanaceae.value_counts()

0    91
1    34
Name: Solanaceae, dtype: int64

### Adding Genus and Species information to Organism Table

In [ ]:
# Organism : Scientific Name (Common Name)(Synonym)
# Example  : Erythranthe guttata (Yellow monkey flower) (Mimulus guttatus)

# Species  : Scientific Name
# Example  : Erythranthe guttata
# Genus    : Erythranthe
    
# Plant    : Scientific Name (Common Name)(Synonym)
# Example  : Erythranthe guttata (Yellow monkey flower) (Mimulus guttatus)

In [77]:
organism.head(2)

   OrganismID                                   Organism  Solanaceae
0        3476  Parasponia andersonii (Sponia andersonii)           0
1        3562                Spinacia oleracea (Spinach)           0

In [78]:
organism['Genus']=organism['Organism'].apply(lambda x:x.split()[0])

In [79]:
organism.head(2)

,OrganismID,Organism,Solanaceae,Genus
0,3476,Parasponia andersonii (Sponia andersonii),0,Parasponia
1,3562,Spinacia oleracea (Spinach),0,Spinacia

In [80]:
organism['Species']=organism['Organism'].apply(lambda x:x.split('(')[0])

In [81]:
organism.head(2)

,OrganismID,Organism,Solanaceae,Genus,Species
0,3476,Parasponia andersonii (Sponia andersonii),0,Parasponia,Parasponia andersonii
1,3562,Spinacia oleracea (Spinach),0,Spinacia,Spinacia oleracea

In [ ]:
## Creating the Master Organism file 5_Organisms.csv

In [ ]:
# organism[['OrganismID','Organism','Genus','Species','Solanaceae']].to_csv('data/5_Organisms.csv',index=False)

In [82]:
organism=pd.read_csv('data/5_Organisms.csv')

In [83]:
organism.head()

,OrganismID,Organism,Genus,Species,Solanaceae
0,3476,Parasponia andersonii (Sponia andersonii),Parasponia,Parasponia andersonii,0
1,3562,Spinacia oleracea (Spinach),Spinacia,Spinacia oleracea,0
2,3694,Populus trichocarpa (Western balsam poplar) (P...,Populus,Populus trichocarpa,0
3,3702,Arabidopsis thaliana (Mouse-ear cress),Arabidopsis,Arabidopsis thaliana,0
4,3711,Brassica campestris (Field mustard),Brassica,Brassica campestris,0

In [84]:
organism.Organism.nunique()

125

In [85]:
organism.Genus.nunique()

64

In [86]:
organism.Species.nunique()

125

In [87]:
organism.Solanaceae.value_counts()

0    91
1    34
Name: Solanaceae, dtype: int64

# Domains (IRDs), RCL, Linkers, Target Protease

## Domains (IRDs)

In [21]:
domains=pd.read_excel('data/PINIR_Domains.xlsx')

In [23]:
domains.head()

  DomainID                                           Sequence  variant
0    IRD-1  QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...        1
1    IRD-2  QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...        1
2    IRD-3  QICTNCCAGKKGCMYFSNDGTFICEGESEYVSEVPVDNKPCPRNCD...        1
3    IRD-4  VGCTNCCSGTEGCNYYSANGTFICEGQTKKTIDETNKACPRNCNPR...        1
4    IRD-5  LGCTNCCAGSLGCNYYSANGTFICEGESEIKVETIETEVETMVEPN...        1

In [24]:
domains.count()

DomainID    698
Sequence    698
variant     698
dtype: int64

In [25]:
domains.Sequence.duplicated().sum()

0

In [26]:
domains.variant.value_counts()

2    420
1    278
Name: variant, dtype: int64

In [29]:
## Creating Domains File 6_Domains.csv

In [30]:
# domains.to_csv('data/6_Domains.csv',index=False)

## RCL and Target Protease

In [27]:
rcl_tp=pd.read_excel('data/PINIR_RCL.xlsx')

In [28]:
rcl_tp.head()

  RclID    Rcl targetProtease  tpID
0  RL-1  CPRNC        Trypsin  TP-1
1  RL-2  CPLNC   Chymotrypsin  TP-2
2  RL-3  CTLNC   Chymotrypsin  TP-2
3  RL-4  CTREC        Trypsin  TP-1
4  RL-5  CPFNC   Chymotrypsin  TP-2

In [31]:
rcl_tp.count()

RclID             63
Rcl               63
targetProtease    63
tpID              63
dtype: int64

In [32]:
rcl_tp.Rcl.duplicated().sum()

0

In [33]:
rcl_tp.targetProtease.unique()

array(['Trypsin', 'Chymotrypsin', 'Unknown', 'Elastase'], dtype=object)

In [34]:
rcl_tp.targetProtease.value_counts()

Unknown         25
Chymotrypsin    20
Trypsin         15
Elastase         3
Name: targetProtease, dtype: int64

In [35]:
## Creating RCL File 7_RCL_TP.csv

In [36]:
# rcl_tp.to_csv('data/7_RCL_TP.csv',index=False)

## Linkers

In [88]:
linkers=pd.read_excel('data/PINIR_Linkers.xlsx')

In [89]:
linkers.head()

  linkerID Linker  Type
0      L-1  DPRNP     1
1      L-2  GPKNP     1
2      L-3  DPKNP     1
3      L-4  DPRNS     1
4      L-5  DPNNP     1

In [90]:
linkers.count()

linkerID    78
Linker      78
Type        78
dtype: int64

In [91]:
linkers.Linker.duplicated().sum()

0

In [92]:
linkers.Type.value_counts()

2    54
1    24
Name: Type, dtype: int64

In [93]:
## Creating Linkers File 8_Linkers.csv

In [96]:
## linkers.to_csv('data/8_Linkers.csv',index=False)

## Domains- RCL Analysis
File Used *PINIR_DomainsRCL.csv* created using python program *RclFinder.py*

In [107]:
domains=pd.read_csv('data/6_Domains.csv')

In [108]:
domains.head(2)

  domainID                                             domain  variant
0    IRD-1  QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...        1
1    IRD-2  QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...        1

In [110]:
domains.domainID.count()

698

In [101]:
domain_rcl=pd.read_csv('data/PINIR_DomainsRCL.csv',usecols=['domainID','RclID', 'RCL',
       'targetProtease', 'tpID', 'S_position', 'E_position'])

In [103]:
domain_rcl.head()

  domainID RclID    RCL targetProtease  tpID  S_position  E_position
0    IRD-1  RL-1  CPRNC        Trypsin  TP-1          41          45
1    IRD-2  RL-1  CPRNC        Trypsin  TP-1          40          44
2    IRD-3  RL-1  CPRNC        Trypsin  TP-1          40          44
3    IRD-4  RL-1  CPRNC        Trypsin  TP-1          38          42
4    IRD-5  RL-1  CPRNC        Trypsin  TP-1          48          52

In [104]:
domain_rcl.domainID.count()

695

In [105]:
# i.e. 3 IRDs (698-695) are not having any defined RCLs. Finding them :

In [112]:
# pd.merge(domains,domain_rcl,on='domainID',how='left').to_csv('data/9_Domain_RCL.csv',index=False)

In [113]:
domain_rcl=pd.read_csv('data/9_Domain_RCL.csv')

In [115]:
domain_rcl.head()

,domainID,domain,variant,RclID,RCL,targetProtease,tpID,S_position,E_position
0,IRD-1,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,1,RL-1,CPRNC,Trypsin,TP-1,41.0,45.0
1,IRD-2,QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...,1,RL-1,CPRNC,Trypsin,TP-1,40.0,44.0
2,IRD-3,QICTNCCAGKKGCMYFSNDGTFICEGESEYVSEVPVDNKPCPRNCD...,1,RL-1,CPRNC,Trypsin,TP-1,40.0,44.0
3,IRD-4,VGCTNCCSGTEGCNYYSANGTFICEGQTKKTIDETNKACPRNCNPR...,1,RL-1,CPRNC,Trypsin,TP-1,38.0,42.0
4,IRD-5,LGCTNCCAGSLGCNYYSANGTFICEGESEIKVETIETEVETMVEPN...,1,RL-1,CPRNC,Trypsin,TP-1,48.0,52.0

In [116]:
domain_rcl.domainID.count()

698

In [118]:
domain_rcl.RclID.isna().sum()

3

In [119]:
## IRDs in which no RCL was traced

In [120]:
filt=domain_rcl.RclID.isna()
domain_rcl.loc[filt,:]

,domainID,domain,variant,RclID,RCL,targetProtease,tpID,S_position,E_position
70,IRD-71,GICTNCCAGKKRCNYFSADGTFICEGESKFVSEADNNHGKPCPRIA...,1,NaN,NaN,NaN,NaN,NaN,NaN
147,IRD-148,RLCTNCCAGRKGCNYYSADGTFICEGESDPNNPKACPRNRDPNIAY...,1,NaN,NaN,NaN,NaN,NaN,NaN
687,IRD-688,KVCPQLCLGAEYMTCGSSDERLNPSCNCCLAPQGCTLYFSDGTSQYCA,2,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
## Saving those Domains n which no RCL were found to file 10_Domains_without_RCL.csv

In [124]:
# domain_rcl.loc[filt,['domainID','domain','variant']].to_csv('data/10_Domains_without_RCL.csv',index=False)

In [126]:
domain_rcl.RCL.value_counts()

CPRNC    291
CTLNC     36
CPLNC     35
CTLEC     25
CPQFC     23
        ...
CTQDC      1
CIREC      1
CPFFC      1
CTFKC      1
CHQYC      1
Name: RCL, Length: 63, dtype: int64

In [127]:
domain_rcl.RCL.nunique()

63

In [128]:
domain_rcl.targetProtease.value_counts()

Trypsin         396
Chymotrypsin    177
Unknown         110
Elastase         12
Name: targetProtease, dtype: int64

## Domains- Linker Analysis
File Used *PINIR_DomainsLinker.csv* created using python program *LinkerFinder.py*

In [130]:
domain_linker=pd.read_csv('data/PINIR_DomainsLinker.csv')

In [131]:
domain_linker.head()

,domainID,Sequence,linkerID,Linker,LinkerType,Linker_StartPosition,Linker_EndPosition
0,IRD-16,KICTKECGNLGFGICPRSEGSPKNPICINCCSGYKGCNYYSVFGRF...,L-46,EGSPK,2,18,22
1,IRD-19,GLCTNCCAGKKGCKYFSKDGTYICDGESEWVSEKDNNLEKDCTKEC...,L-58,EKDNN,2,32,36
2,IRD-40,TGCTTCCTGYKGCYYFGKDGKFVCEGESDEPKACTMECDPRVAYMI...,L-24,ESDEP,1,26,30
3,IRD-41,TGCTTCCTGYKGCYYFGQDGEFVCEGESDEPKSCTTECDPRVATIS...,L-24,ESDEP,1,26,30
4,IRD-42,TGCTTCCTGYKGCYYFGQDGEFVCEGESDEPKSCTTECDPRVATIS...,L-24,ESDEP,1,26,30

In [132]:
domain_linker.columns

Index(['domainID', 'Sequence', 'linkerID', 'Linker', 'LinkerType',
       'Linker_StartPosition', 'Linker_EndPosition'],
      dtype='object')

In [134]:
domain_linker=pd.read_csv('data/PINIR_DomainsLinker.csv',usecols=['domainID','linkerID', 'Linker', 'LinkerType',
       'Linker_StartPosition', 'Linker_EndPosition'])

In [135]:
domain_linker.head()

,domainID,linkerID,Linker,LinkerType,Linker_StartPosition,Linker_EndPosition
0,IRD-16,L-46,EGSPK,2,18,22
1,IRD-19,L-58,EKDNN,2,32,36
2,IRD-40,L-24,ESDEP,1,26,30
3,IRD-41,L-24,ESDEP,1,26,30
4,IRD-42,L-24,ESDEP,1,26,30

In [136]:
domain_linker.domainID.count()

509

In [137]:
domain_linker.domainID.nunique()

496

In [138]:
domain_linker.domainID.duplicated().sum()

13

In [139]:
domain_linker.domainID.duplicated(keep=False).sum()

26

In [140]:
domain_linker.loc[domain_linker.domainID.duplicated(keep=False),:]

,domainID,linkerID,Linker,LinkerType,Linker_StartPosition,Linker_EndPosition
411,IRD-591,L-26,EEKKD,2,19,23
412,IRD-591,L-28,EKKDN,2,20,24
413,IRD-592,L-26,EEKKD,2,19,23
414,IRD-592,L-28,EKKDN,2,20,24
415,IRD-593,L-26,EEKKD,2,19,23
416,IRD-593,L-28,EKKDN,2,20,24
417,IRD-594,L-26,EEKKD,2,19,23
418,IRD-594,L-28,EKKDN,2,20,24
419,IRD-595,L-26,EEKKD,2,19,23
420,IRD-595,L-28,EKKDN,2,20,24
421,IRD-596,L-26,EEKKD,2,19,23
422,IRD-596,L-28,EKKDN,2,20,24
423,IRD-597,L-26,EEKKD,2,19,23
424,IRD-597,L-28,EKKDN,2,20,24
425,IRD-598,L-26,EEKKD,2,19,23
426,IRD-598,L-28,EKKDN,2,20,24
427,IRD-599,L-26,EEKKD,2,19,23
428,IRD-599,L-28,EKKDN,2,20,24
429,IRD-600,L-26,EEKKD,2,19,23
430,IRD-600,L-28,EKKDN,2,20,24
431,IRD-601,L-26,EEKKD,2,19,23
432,IRD-601,L-28,EKKDN,2,20,24
433,IRD-602,L-26,EEKKD,2,19,23
434,IRD-602,L-28,EKKDN,2,20,24
435,IRD-603,L-26,EEKKD,2,19,23
436,IRD-603,L-28,EKKDN,2,20,24

In [141]:
## For IRD-591 to 603 in the multiple IRD list, take the EEKKD linker sequence.

In [142]:
domain_linker.to_csv('data/domain_linker.csv',index=False)

In [143]:
## After Deleting the duplicate Records as per above suggestion

In [145]:
domain_linker=pd.read_csv('data/domain_linker.csv')

In [146]:
domain_linker.loc[domain_linker.domainID.duplicated(keep=False),:]

Empty DataFrame
Columns: [domainID, linkerID, Linker, LinkerType, Linker_StartPosition, Linker_EndPosition]
Index: []

In [147]:
domain_linker.count()

domainID                496
linkerID                496
Linker                  496
LinkerType              496
Linker_StartPosition    496
Linker_EndPosition      496
dtype: int64

In [148]:
domain_linker.Linker.nunique()

75

In [149]:
domain_linker.domainID.duplicated().sum()

0

In [150]:
domain_linker.head()

,domainID,linkerID,Linker,LinkerType,Linker_StartPosition,Linker_EndPosition
0,IRD-16,L-46,EGSPK,2,18,22
1,IRD-19,L-58,EKDNN,2,32,36
2,IRD-40,L-24,ESDEP,1,26,30
3,IRD-41,L-24,ESDEP,1,26,30
4,IRD-42,L-24,ESDEP,1,26,30

In [151]:
domain_rcl=pd.read_csv('data/9_Domain_RCL.csv')

In [152]:
domain_rcl.head()

,domainID,domain,variant,RclID,RCL,targetProtease,tpID,S_position,E_position
0,IRD-1,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,1,RL-1,CPRNC,Trypsin,TP-1,41.0,45.0
1,IRD-2,QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...,1,RL-1,CPRNC,Trypsin,TP-1,40.0,44.0
2,IRD-3,QICTNCCAGKKGCMYFSNDGTFICEGESEYVSEVPVDNKPCPRNCD...,1,RL-1,CPRNC,Trypsin,TP-1,40.0,44.0
3,IRD-4,VGCTNCCSGTEGCNYYSANGTFICEGQTKKTIDETNKACPRNCNPR...,1,RL-1,CPRNC,Trypsin,TP-1,38.0,42.0
4,IRD-5,LGCTNCCAGSLGCNYYSANGTFICEGESEIKVETIETEVETMVEPN...,1,RL-1,CPRNC,Trypsin,TP-1,48.0,52.0

In [153]:
## Making a file with complete relation of Domain with, RCL and Linkers found in them

In [155]:
# pd.merge(domain_rcl,domain_linker,on='domainID',how='left').to_csv('data/11_Domain_RCL_Linker.csv',index=False)

In [156]:
domain_rcl_linker=pd.read_csv('data/11_Domain_RCL_Linker.csv')

In [157]:
domain_rcl_linker.head()

,domainID,domain,variant,RclID,RCL,targetProtease,tpID,S_position,E_position,linkerID,Linker,LinkerType,Linker_StartPosition,Linker_EndPosition
0,IRD-1,QICINCCAGKKGCNYFSADGTFICEGESEYVSEVNDNLEKHCPRNC...,1,RL-1,CPRNC,Trypsin,TP-1,41.0,45.0,NaN,NaN,NaN,NaN,NaN
1,IRD-2,QICTNCCAGKKGCMYFSDDGTFICEGESEYVSEVPVDNKPCPRNCD...,1,RL-1,CPRNC,Trypsin,TP-1,40.0,44.0,NaN,NaN,NaN,NaN,NaN
2,IRD-3,QICTNCCAGKKGCMYFSNDGTFICEGESEYVSEVPVDNKPCPRNCD...,1,RL-1,CPRNC,Trypsin,TP-1,40.0,44.0,NaN,NaN,NaN,NaN,NaN
3,IRD-4,VGCTNCCSGTEGCNYYSANGTFICEGQTKKTIDETNKACPRNCNPR...,1,RL-1,CPRNC,Trypsin,TP-1,38.0,42.0,NaN,NaN,NaN,NaN,NaN
4,IRD-5,LGCTNCCAGSLGCNYYSANGTFICEGESEIKVETIETEVETMVEPN...,1,RL-1,CPRNC,Trypsin,TP-1,48.0,52.0,NaN,NaN,NaN,NaN,NaN

In [158]:
domain_rcl_linker.Linker.value_counts()

DPRNP    96
EEKKN    72
DPNNP    61
DPKNP    32
EGNAE    30
         ..
EKDNN     1
GRNTI     1
EEKKS     1
EAKKN     1
QEKKN     1
Name: Linker, Length: 75, dtype: int64

In [159]:
domain_rcl_linker.LinkerType.value_counts()

2.0    256
1.0    240
Name: LinkerType, dtype: int64

In [161]:
domain_rcl_linker.Linker.nunique()

75

In [164]:
linkers.Linker.nunique()

78

In [165]:
## i.e. 3 linkers (78-75) are not found in any of the domains. Which are these